/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.slide-img-resp {visibility: hidden; display: none; height:0;}

.carousel-item {}

.carousel-control-next, .carousel-control-prev {width:auto;}

/* Carousel base class */
.carousel {max-width: 1920px; margin: auto;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position: relative;
  padding-top: 150px;	
  width:40%;	 
  z-index: 10;  
  left: 5%;
  text-align: left;
}
.carousel-caption-inner { 
}

.carousel-caption-inside {  
  z-index: 10;
  position: absolute;
  top: 45%;
  left:0;	 
  padding: 5px 40px;	
  text-align: left!important;
}

.carousel-caption-inside .carousel-caption-h1 {padding-bottom:0!important; line-height: 130%;}

.carousel-caption-h1 {font-family: "Roboto Slab",Arial,Verdana,sans-serif; font-size:75px; font-weight: 600; color:#000; line-height: 1;padding-bottom: 20px;}
.carousel-caption-h2 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:27px; font-weight: 300; color:#000;padding-bottom: 20px;}

.carousel-caption-cta {}
.carousel-caption-cta-1 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:13px; font-weight: 600; color:#951318; text-transform: uppercase;}
.carousel-caption-cta-1:hover {color:#951318;}

.carousel-indicators {bottom: 2px;}
.carousel-indicators li {
  width: 18px;
  height: 18px;
  padding: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 100%; border: 1px solid #fff;
  list-style-type: none;
  background-color: inherit;
}
.carousel-indicators .active {
    background-color: #fff!important;
}

.carousel-control-next-icon, .carousel-control-prev-icon { width: 40px; height: 40px;}

@keyframes pulseColor2 {
  0% {
    color: rgba(58,58,58,0.60);
  }
  100% {
    color: #3a3a3a;
  }  
  	  
}

@keyframes pulseColor1 {
  0% {
    background-color: #00a1bc;
  }  
  100% {
    background-color: rgba(0,161,188,0.60);
  }	  
}

/* Declare heights because of positioning of img element */
.carousel-item {height: 1000px; }

.carousel-item > img {
  position: absolute;
  bottom: 0;
  right:0;
	top:0;		
}


.inside-page .carousel-item {
  height: 436px;
}
.inside-page .carousel-item > img {top:130px; height: 306px; left:inherit;
}

.inside-page  .carousel-item {background: none;}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
