/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Lato', Arial,Verdana,sans-serif; padding-bottom: 0; background-color:#fff; color: #000; font-weight: 300; font-size: 27px;
   margin-bottom: 320px; /* Margin bottom to match footer height */
}

article, aside, figcaption, figure, footer, header, hgroup, main, section {overflow:hidden;}
 
a, a:active, a:visited {text-decoration: none; color:#c30021; font-weight: 600;}
a:hover {color:#000;}
.blog-masthead a, .blog-masthead a:active, .blog-masthead a:visited {text-decoration:underline; color:#c30021; font-weight: 600;}
.blog-masthead a:hover {color:#000;}

.blog-masthead img { -ms-interpolation-mode: bicubic; border: none; max-width: 100%; height: auto!important; }
.blog-masthead a img { border: none;}

.blog-masthead p {font-size: 21px; font-weight: 300;}
.blog-masthead h1, .blog-sidebar h1 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:34px; font-weight: 500;text-align: left;}
.blog-masthead h1 span, .blog-sidebar h1 span {font-family: 'Merriweather:ital', serif; font-size:41px; font-weight: 200; font-style: italic; letter-spacing:-3px;}
.blog-masthead h1:after, .blog-sidebar h1:after {
    content: "";
    display: block;
    height: 41px;
    background-image: url('../../images/site/swirlyline-grey.png');
    background-repeat: no-repeat;
    background-position: left bottom;
	margin-top: 20px;
	margin-bottom: 20px;
}
.blog-masthead h2 { color: #C30021; font-weight: 600; font-size: 24px; line-height: 150%; padding: 5px 0 5px 0;}
.blog-masthead h3 { color: #c30021; font-weight: 600; font-size: 22px; line-height: 110%; padding: 40px 0 10px 0; }
.blog-masthead h4 { color: #4f4f4f; font-size:17px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 600; text-transform:uppercase;}
.blog-masthead h5 { color: #4f4f4f; font-weight: 600; font-size: 17px; line-height: 110%; padding: 15px 0 5px 0; }
.blog-masthead hr { border-top: 1px solid #474747;}s

.blog-masthead .disclaimer {padding:10px 0;}
.blog-masthead .disclaimer, .blog-masthead .disclaimer p, .blog-masthead .disclaimer ul li, .blog-masthead .disclaimer ol li { font-size: 12px!important; color:#8aa6b5!important;}

.blog-masthead ul {padding-left: 15px;}
.blog-masthead ul li {padding-left: 16px; margin-bottom: 10px;font-size: 21px;list-style-type: none;}
.blog-masthead ul li a {font-size: 21px}

.blog-masthead ul li::before {
    content: "\f111";
    font-family: 'Font Awesome\ 5 Free';
    position: relative;    
    color: #c30021;
    font-size: 9px;
    margin-top: 0px;
    display: inline-block;
    font-weight: 900;
	left: -25px;
    /*margin-left: 15px;*/
}

.blog-masthead ol li { color:#474747; padding-left: 16px; margin-bottom: 10px; font-size: 17px; font-weight: 500; line-height: 150%;}
.blog-masthead ol li ul {margin-top:10px;}
.blog-masthead ol li ul li {list-style-type:inherit;}
.blog-masthead ol li ul li::before {content:"";}
.blog-masthead ol li p {margin-top:10px;}

.blog-masthead blockquote {
    color: #c30021;
    font-size: 17px;
    font-weight: 700;
    padding: 0;	
	border-left:2px solid #c30021;	
}
	
.blog-masthead blockquote p {
    color: #c30021;
    font-size: 17px;
	padding-left:20px;
    font-weight: 600;
}

.blog-masthead {padding: 20px 0; background: #fff;}
.blog-masthead .container {/*max-width: 1600px;*/}
.blog-masthead-hdr {/*padding-bottom:80px;*/ width: 100%;}
.blog-masthead iframe {max-width:100%;}

.video {border: 20px solid #dddddd;}
.video iframe {width:100%;}

button:focus, a:focus {outline: none!important; box-shadow: none!important;}

/**************************
HEADER
**************************/
header {position: fixed; top:0px; z-index: 200; width: 100%; padding: 20px 50px;}
.panelHeader {width:100%;}

.panelHeaderMenu { float:left; position: relative; top: 30px;}

.panelHeaderLogo { float:left; padding-left: 15px; position: relative; z-index: 200;}

.panelHeaderContact { float:right; position: relative; top: 30px;}
.panelHeaderContact a {padding: 0 5px 0 35px;}
.panelHeaderContact a:hover > img, .panelHeaderLogo a:hover > img {
	transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */	
}

/* Coronavirus */
.coronavirusUpdates {position:fixed; top:0;  color:#fff; font-weight: 600; text-align: center; padding: 0 0 2px 0; left: 0; right: 0; font-size:15px; z-index: 100;  margin: auto; }
.coronavirusUpdates a {color:#fff; padding:0!important; text-decoration: underline!important;}

.coronavirus {display: flex; flex-wrap: wrap; padding:40px 0;}
.coronavirus div {flex: 0 50%; padding:20px;}
.coronavirus div p {text-align: center;}
.coronavirusUpdates-txt {display:inline-block; visibility: visible; height: auto; background-color: rgba(195,0,33,0.90); border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 0px 40px 2px 40px;}
.coronavirusUpdates-txt-resp {display:none; visibility: hidden; height: 0; background-color: rgba(195,0,33,0.90); border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }

/**************************
AFFIX
**************************/
.affix {
	padding-top: 0!important;
    padding-bottom: 0!important;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;
	height: 85px;	
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
	background-color:#e8ecf2;
}

.affix .panelHeaderLogo img {height: 52px; width:auto;}
.affix .panelHeaderMenu, .affix .panelHeaderContact {top:20px; /*top:30px;*/}
.affix .panelHeaderLogo {top: 15px; /*top:25px;*/ position: relative;}

.affix-resp {
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
	background-color: #e8ecf2;
	}

/**************************
NAVBAR
**************************/
.hamburger {padding:5px 0 0 10px !important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#c30021!important; width: 30px!important; 
	webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
}
.hamburger:hover {opacity: 1!important;}

/**************************
MENU
**************************/
nav {
	position: fixed;
	top: 0;
	right: 100%;	
	width: 100%;
	height: 100vh;
	transition: all 0.3s ease;
	display: block;	
	z-index: 150;
}

.show-menu { right: 0; }
.hide-menu { transform: translateX(100%); }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

nav li {
  flex: 1 1 33.3%;
  display: flex;
  max-width: 33.3%;
  margin:auto;
}

nav a {  
  text-decoration: none; 
  width: 100%;
  font-size: 3rem;
  display: flex!important;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}

nav a:hover > .nav-item {
	transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */	
}
nav a:hover > .nav-item .nav-headline, nav a:hover > .nav-item .nav-subheadline {color: #000!important;}

.navWrapper {background-color: #c30021;  height: 70%; width: 80%;  border-radius: 20px; margin:auto; text-align: center; overflow: hidden;
	-webkit-box-shadow: 0 0 5px 2px #999;
    -moz-box-shadow: 0 0 5px 2px #999;
    box-shadow: 0 0 5px 2px #999;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.nav-item {width:100%;}
.nav-headline {font-size: 28.5px; font-weight: 600; color:#fff;}
.nav-subheadline {font-size: 18px; color:#fff; width:80%; text-align: center; margin: auto;}

.navClose { float:right; position: relative; top: 10px; right: 10px; z-index: 100;}
.navClose .hamburger-inner, .navClose .hamburger-inner::before, .navClose .hamburger-inner::after {background-color:#fff!important; width: 30px!important; 
	webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
}

.nav-item:nth-child(4) > a {padding-left:40%;}
.nav-item:nth-child(5) > a {padding-right:40%;}

/**************************
HOME SLIDERS
**************************/
.panelSliders {overflow: hidden; position: relative;}
.panelSlider {width:100%; position: relative; /*min-height: 1000px;*/ margin:auto;
    /*-webkit-animation: floating 5s ease-out 1s infinite;
	animation: floating 5s ease-out 1s infinite;*/
}
.panelSliderPanel {position: absolute; top: 0; left: 0; right: 0; margin: auto;
    -webkit-animation: floating 5s ease-out 1s infinite;
	animation: floating 5s ease-out 1s infinite;
}
.panelSliderPanel-noAnimation {animation:none!important;}
.panelSliderInner {min-height:inherit!important; max-height: 350px; overflow: hidden;}	
.vimeo-full-width {
    padding: 56.25% 0 0 0;
    position: relative;
}

.panelSliderInner .panelSliderPanel {animation: none!important;}
.panelSliderInner .panelSlidersImage img {max-width: auto!important; height: 350px;}
.panelSliderInner .panelSlidersImage {right: 9%; z-index: 10;}
.panelSliderInner .panelSlidersCaption {top:110px!important; left:15%;}
.panelSliderInner .panelSlidersCaption .sliderCaption-h1 {padding-bottom: 0;}
.panelSliderInner .sliderCaption-cta {visibility: hidden; display: none; height: 0;}
.panelSliderInner  .panelSlidersImageBackground {position: absolute; bottom:0; top:inherit; z-index: 20;}
.panelSliderInner  .panelSlidersImageBackground img {width:100%; max-width: inherit;}

.vimeo-full-width iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panelSlidersImageBackground {/*position: absolute;*/ z-index: 10; top:0; width:100%; display: flex; display: -webkit-flex; justify-content: center; }
.panelSlidersImageBackground img {max-width: 90%; height: auto;}

.panelSlidersImage {position: absolute;	z-index: 20; top:0;	right:0; width:100%; display: flex; display: -webkit-flex; justify-content: flex-end;
    -webkit-animation: fade-in-br 10s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s 1;/*, pulse 15s ease-in-out 8s infinite;*/
	animation: fade-in-br 10s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s 1/*, pulse 15s ease-in-out 8s infinite;*/		
}
.panelSlidersImage img {max-width: 60%; height: auto;}

.panelSlidersCaption {position: absolute; top:30%; /*top:38%;*/ width: 40%; left: 12%; z-index: 30;}
.panelSliderInner .panelSlidersCaption {width:auto!important;}

.sliderCaption-h1 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:60px; font-weight: 900; color:#000; line-height: 1;padding-bottom: 20px; 
	/*-webkit-animation: slide-in-left 2s 3s both;
	animation: slide-in-left 2s 3s both;*/
	animation-iteration-count: 1;
	animation-delay: 3s;
	animation: fadeInText ease-in 6s;
	-webkit-animation: fadeInText ease-in 6s;
	-moz-animation: fadeInText ease-in 6s;
	-o-animation: fadeInText ease-in 6s;
	-ms-animation: fadeInText ease-in 6s;
}
.sliderCaption-h1 span {font-family: 'Merriweather:ital', serif; font-size:70px; font-weight: 200; color:#000; font-style: italic; letter-spacing: -3px;}
.sliderCaption-h1-stop {font-family: 'Merriweather:ital', serif; font-weight: 600!important; color:#9b1318!important; font-style:normal!important; position:relative; left:-10px;}
.panelSliderInner .sliderCaption-h1-stop { left:0px!important;}

.sliderCaption-h2 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:24px; font-weight: 300; color:#000;padding-bottom: 0;
	/*-webkit-animation: slide-in-left 2s 3s both;
	animation: slide-in-left 2s 3s both;*/
	animation-iteration-count: 1;
	animation-delay: 3s;
	animation: fadeInText ease-in 6s;
	-webkit-animation: fadeInText ease-in 6s;
	-moz-animation: fadeInText ease-in 6s;
	-o-animation: fadeInText ease-in 6s;
	-ms-animation: fadeInText ease-in 6s;
}

.sliderCaption-cta {
	/*-webkit-animation: slide-in-left 2s 3s both;
	animation: slide-in-left 2s 3s both;*/
	animation-iteration-count: 1;
	animation-delay: 3s;
	animation: fadeInText ease-in 6s;
	-webkit-animation: fadeInText ease-in 6s;
	-moz-animation: fadeInText ease-in 6s;
	-o-animation: fadeInText ease-in 6s;
	-ms-animation: fadeInText ease-in 6s;
}
.sliderCaptionCTA {font-family: "Lato",Arial,Verdana,sans-serif; font-size:13px; font-weight: 600; color:#951318; text-transform: uppercase; letter-spacing: 2px; text-decoration: none!important;}
.sliderCaptionCTA:hover {color:#951318!important; font-size: 20px!important;}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.fade-in-br {
	-webkit-animation: fade-in-br 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-br 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-br {
  0% {
    -webkit-transform: translateX(50px) translateY(50px);
            transform: translateX(50px) translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-br {
  0% {
    -webkit-transform: translateX(50px) translateY(50px);
            transform: translateX(50px) translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

.chevron-down {
    position:fixed;
    bottom: 0;
    transform:translateY(-100%);
    width:100%;
	text-align: center;	
	animation: bouncing 4s infinite ease-in-out;
	z-index: 40;
	visibility: hidden;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(5px, 5px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes fadeInText {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeInText {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeInText {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeInText {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/**************************
HOME PAGE
**************************/
.home-intro {width: 100%; padding: 0 0 80px 0; text-align: center; margin: auto; background: #c30021;}
.home-intro .container {max-width: 1400px;}
.home-intro .container .row .col-lg-9 {margin: auto;}

.home-intro-main { padding-top: 90px;}

.home-intro h1 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:85px; font-weight: 900; color:#fff; }
.home-intro h1 span {font-family: 'Merriweather:ital', serif; font-size:95px; font-weight: 200; font-style: italic; letter-spacing:-3px; padding: 0px; color:#fff;}
.home-intro h1:after {
    content: "";
    display: block;
    height: 41px;
    background-image: url('../../images/site/swirlyline-white.png');
    background-repeat: no-repeat;
    background-position: center bottom;
	margin-top: 20px;
}
.home-intro a {color:#000;}
.home-intro a:hover {color:#e8ecf2!important;}
.home-intro p {font-size:27px; padding: 15px 0 0 0; color:#fff;}

.home-h2 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:60px; font-weight: 900; text-align: center; padding-bottom: 40px;}
.home-h2 span {font-family: 'Merriweather:ital', serif; font-size:70px; font-weight: 200; font-style: italic; letter-spacing:-3px; padding: 0 10px;}
.home-h2:after {
    content: "";
    display: block;
    height: 41px;
    background-image: url('../../images/site/swirlyline-grey.png');
    background-repeat: no-repeat;
    background-position: center bottom;
	margin-top: 20px;
}

.home-h2-white {color:#fff;}
.home-h2-white:after {   
    background-image: url('../../images/site/swirlyline-white.png');    
}

/**************************
HOME PAGE - CTAS PANEL
**************************/
.home-ctas {padding: 80px 0; background-color: #e8ecf2; text-align: center;}
.home-ctas .container { max-width: 1400px;}
.home-ctas .col-border-right {border-right:1px solid #000;}

.home-ctas-block {width:80%; margin: auto;}
.home-ctas-a-block {width:80%; margin: auto;}
.home-ctas-a-img img {width:100%; height:auto;}

.home-ctas h2 {font-weight: 300; min-height: 90px; margin-bottom: 0;}

.home-ctas-a-txt {   
    background: #c30021;
	border: 1px solid #c30021;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 10px;       
	width:100%;
}

.home-ctas a:hover {text-decoration-color: #fff!important;}
.home-ctas a:hover > .home-ctas-a-block .home-ctas-a-txt {text-decoration: none !important;}
.home-ctas a:hover > .home-ctas-a-block .home-ctas-a-txt {background: #fff; color:#c30021;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {padding: 0; background-color: #d5d9de; text-align: center;}
.home-projects .container {max-width: 100%;}
.home-projects .container img {margin:auto; text-align: center; display: inherit;}
.home-projects .container-fluid .row {overflow: hidden;}
.project-blank {border: 1px solid #ccc!important;}

.home-projects-item {width:100%; /*position: relative;*/ overflow:hidden;}
.home-projects-item img {width:100%; height: auto;}
.home-projects-item-video {width:100%;}
.home-projects-item-video iframe {position: absolute; top: 0; left: 0; width: 100%; height: 110%;}
.home-projects-item-overlay {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;  
  z-index: 10;
}

.home-projects-item-overlay-txt {
  color: #fff;
  font-size: 28.5px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  z-index: 20;
}

.home-projects-item-overlay-txt2 { 
	opacity: 0; 
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 90%;
	z-index: 20;
}

.home-projects-item-overlay-line1 {/*font-family: "Merriweather script=all rev=1", "Adobe Blank";*/ text-transform: uppercase; /*font-style: italic;*/ color:#fff; font-size:28.5px; font-weight: 600; opacity: 0; visibility: hidden; }
.home-projects-item-overlay-line2 {width:85%; border-bottom: 1px solid #fff; text-align: center; margin:auto; padding:7px 0; opacity: 0; visibility: hidden; }
.home-projects-item-overlay-line3 {/*font-family: "Merriweather script=all rev=1", "Adobe Blank";*/  /*font-style: italic;*/ color:#fff; font-size:16px; text-transform: none; font-weight: 300px; padding-top: 15px; margin:0; opacity: 0; visibility: hidden; }

.home-projects-item-a:hover > .home-projects-item .home-projects-item-overlay .home_projects-item-overlay-txt {color:#000!important;}
.home-projects-item-a:hover > .home-projects-item .home-projects-item-overlay {background-color:rgba(204,0,30,0.60);}
.home-projects-item-a:hover > .home-projects-item .home-projects-item-overlay-txt {opacity: 0; visibility: hidden;}
.home-projects-item-a:hover > .home-projects-item .home-projects-item-overlay-txt2 {opacity: 1; visibility: visible;}

.home-projects-item-a:hover > .home-projects-item > img {overflow:hidden;  animation: scaleInOut 3s; animation-delay: 0s;}


.home-projects-item-a:hover > .home-projects-item .home-projects-item-overlay .home-projects-item-overlay-txt2 .home-projects-item-overlay-line1 { visibility: visible;  opacity: 1; animation: fadeInUp 1s; animation-delay: 0s; }
.home-projects-item-a:hover > .home-projects-item .home-projects-item-overlay .home-projects-item-overlay-txt2 .home-projects-item-overlay-line2 { visibility: visible;  opacity: 1; animation: fadeInUp 1s; animation-delay: 0s; }
.home-projects-item-a:hover > .home-projects-item .home-projects-item-overlay .home-projects-item-overlay-txt2 .home-projects-item-overlay-line3 { visibility: visible;  opacity: 1; animation: fadeInUp 1s; animation-delay: 0s; }

.blog-masthead .home-projects-item-overlay-txt2 { width:90%; }
.blog-masthead .home-projects-item-overlay-line1 { font-size:18px;}
.blog-masthead .home-projects-item-overlay-line3 p, .home-projects-item-overlay-line3 {font-size:16px;}
.blog-masthead  .home-projects-item-overlay-txt {width:90%; font-size: 26px;}
.blog-masthead .home-projects-item-overlay-line1 {font-size:16px;}

.projectsRow .home-projects-item-overlay-line3 p {font-size:14px; line-height: 107%;}
.projectsRow .home-projects-item-overlay-line2 {padding:4px 0;}
.projectsRow .home-projects-item-overlay-line3 {padding-top:5px;}
.projectsRow .home-projects-item-overlay-txt {font-size:16px; background-color:rgba(204,0,30,0.50); padding-bottom: 4px; bottom: 0; top: auto; left: auto; transform: none; width: 100%;}


@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);		
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes scaleInOut {
    0, 100% {
    transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -moz-transform:scale(1); /* Firefox */
    -webkit-transform:scale(1); /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */	
    }

    50% {
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
    }
}

@-webkit-keyframes scaleInOut {
    0, 100% {
    transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -moz-transform:scale(1); /* Firefox */
    -webkit-transform:scale(1); /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */	
    }

    50% {
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
    }	
}

/**************************
ONTRAPORT FORMS
**************************/
.moonray-form {font: 100%/1.4 'Lato', Arial,Verdana,sans-serif!important; width:100%!important;} 
.moonray-form-label  {font-family: 'Lato', Arial,Verdana,sans-serif!important; font-weight: 200!important;}
.moonray-form-input {font-family: 'Lato', Arial,Verdana,sans-serif!important; font-weight: 200!important; font-size:22px!important; display:inline-block!important; width:200px!important; border-bottom: 2px dashed #C5C5C5!important; padding: 5px 0!important;}
.moonray-form textarea {border: 2px dashed #C5C5C5!important; padding: 10px 20px!important; height: 200px !important;}
.moonray-form-input::placeholder { color: #808080!important; font-weight: 200!important; font-size:22px!important;}
.moonray-form-input[type="submit"] {
	border: 1px solid #c30021!important; 
	background: #c30021!important;
	text-transform: uppercase!important;
	color: #fff!important;
	font-size: 24px!important;
	font-weight: 600!important;
	padding: 5px 50px!important;
	margin: 5px 0 0 0!important;
	display: inline-block!important;
	border-radius: 0!important;
}
.moonray-form-input[type="submit"]:hover {background: #fff!important; color: #c30021!important;}
.1opf-error__icon {top: 38px!important;}
.moonray-form-state-error {box-shadow:none!important;}

#modalContactOP .home-form img, #modalNewslettersOP .home-form img {max-height: 70px;}
#modalContactOP .home-h2, #modalNewslettersOP .home-h2 {padding-bottom: 10px;}
#modalContactOP .home-h2, #modalNewslettersOP .home-h2 {font-size:35px;}
#modalContactOP .home-h2 span, #modalNewslettersOP .home-h2 span {font-size:40px;}
#modalContactOP .home-h2:after, #modalNewslettersOP .home-h2:after {margin-top:0;}
#modalContactOP p, #modalNewslettersOP p {font-size:20px;}
#modalContactOP .moonray-form .moonray-form-element-wrapper .moonray-form-input,
#modalNewslettersOP .moonray-form .moonray-form-element-wrapper .moonray-form-input
	{text-align: center;}
#modalContactOP .moonray-form, #modalNewslettersOP .moonray-form {width:80%!important; margin: auto;}
#modalContactOP .moonray-form textarea, #modalNewslettersOP .moonray-form textarea {max-height:150px;}
#modalContactOP .g-recaptcha div, #modalNewslettersOP .g-recaptcha div {width:100%!important;}
#modalNewslettersOP .ontraport-form {padding-top:30px;}

/**************************
HOME PAGE - CONTACT PANEL
**************************/
.home-contact {padding: 80px 0; background-color: #fff; text-align: center;}
.home-contact .container {max-width: 1400px;}
.home-contact .container img {margin:auto; text-align: center; display: inherit;}
.home-contact-bold {font-weight:600; width:70%; margin:auto; /*animation: fadeIn 5s infinite alternate; margin-top: 50px;*/}

.contact-details {padding:0; color:#000; text-align: left;}
.contact-details p, .contact-details div {font-size: 16px; font-weight: 300!important;}
.contact-details a {text-decoration: none!important;}

.home-contact a {border: 1px solid #c30021; background: #c30021; text-transform: uppercase; color: #fff; font-size: 27px; font-weight: 300!important; padding: 15px 50px; margin:30px 0 0 0; display:inline-block; text-decoration: none!important;}
.home-contact a:hover {color:#c30021!important; background: #fff!important;}
.moonray-form-state-error {border:none!important; border-bottom: 2px dashed #c30021!important;}
.g-recaptcha {border:none!important; }
.moonray-form-state-error div {border: 1px solid #CD0A0A!important; height:auto!important;}

/**************************
HOME PAGE - NEWSLETTER PANEL
**************************/
.home-newsletter {padding: 80px 0; background-color: #c30021; text-align: center;}
.home-newsletter .container {max-width: 1400px;}
.home-newsletter .container img {margin:auto; text-align: center; display: inherit;}
.home-newsletter-bold {font-weight:600; animation: fadeIn 5s infinite alternate; margin-top: 50px;}
.home-newsletter p {color:#fff;}
.home-newsletter .hbspt-form .hs-input {background-color: #c30021;}
.home-newsletter .hbspt-form .hs-input:focus {outline:none!important;}
.home-newsletter .hbspt-form .hs-input:focus {outline-color:rgba(255,255,255,0.60)!important;}
.home-newsletter .hbspt-form label {color:#fff!important;}
.home-newsletter .hbspt-form .hs-input::placeholder { color: #000!important; font-weight: 500;}
.home-newsletter .hbspt-form .hs-button, .home-newsletter .hbspt-form .actions:after {color:#fff!important;}
.home-newsletter .hbspt-form .hs-submit {margin-top:20px;}

/**************************
HOME PAGE - HUBSPOT FORMS
**************************/
.home-form {text-align: center; margin: auto; padding: 20px 0;}
.home-form .hbspt-form {font-size:22px; padding-top:15px;}
.home-form .hbspt-form .input, .hs_email, .hs_firstname {display:inline-block;}
.home-form .hbspt-form .hs-input, .txt-input {margin-left: 5px; font-weight: 300; border:none; /*border-width: 0 0 1px; border-color: rgba(219,219,219,0.40);*/ border-bottom: 2px dashed #C5C5C5;}
.home-form .hbspt-form .hs-input:focus, .txt-input:focus {outline:none!important;}
.home-form .hbspt-form .hs-input:focus.txt-input:focus {outline-color:rgba(195,0,33,0.60);}
.home-form .hbspt-form .hs-error-msgs, .home-form .hbspt-form .hs-form-required {display: none!important; visibility: hidden!important; height: 0!important;}
.home-form .hs_error_rollup .hs-error-msgs {display: block!important; visibility: visible!important; height: auto!important; margin-bottom: 0!important;}
.home-form .hs_error_rollup .hs-error-msgs li {list-style: none!important;}
.home-form .hs_error_rollup .hs-error-msgs li label {color:#c30021; margin-bottom: 0; font-weight: 400;}
.home-form .hbspt-form #email-90dcee85-db07-49c4-908c-c813e0db0b03, .home-form .hbspt-form #firstname-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {width: 200px;}
.home-form .hbspt-form #email-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {width: 300px;}
.home-form .hbspt-form .hs-input::placeholder { color: #808080 ; /*text-decoration: underline;*/ font-weight: 300; /*font-style: italic;*/} 
.home-form .hbspt-form #label-message-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {vertical-align: top;}
.home-form .hbspt-form #message-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {height: 100px!important;resize: none; border: 2px dashed #C5C5C5; width: 90%; /*line-height: 1;*/}
.home-form .hbspt-form .hs-button, .btn-submit {border: 1px solid #c30021; background: #c30021; text-transform: uppercase; color: #fff; font-size: 24px; font-weight: 600; padding: 5px 50px; margin:5px 0 0 0; display:inline-block;}
.home-form .hbspt-form .hs-button:hover, , .btn-submit:submit {color:#c30021!important; background: #fff!important;}
.home-form .hbspt-form .hs-submit {/*margin-top:20px;*/}
.home-form p {font-weight:600;}
.home-form .hs_message div {display:block!important;}
.home-form .hbspt-form .hs-input {background:none!important;}
.hbspt-form .submitted-message {padding: 20px 0;}
.home-form .hbspt-form .hs-button:focus {outline: none!important;}
.1home-form .hbspt-form .actions:after {
	content: "\f30b";
    font-family: 'Font Awesome\ 5 Free';       
    color: #961318;
    font-size: 20px;        
    font-weight: 900;
}
.home-form .hbspt-form .hs_recaptcha {padding-top:7px;}
#message-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {padding: 10px 20px;}

/**************************
HOME PAGE - TESTIMONIALS PANEL
**************************/
.home-testimonials {padding: 80px 0; background-color: #e8ecf2;}
.home-testimonials .container {max-width: 1400px;}
.home-testimonials .container img {margin:auto; text-align: center; display: inherit;}
.home-testimonials i {color:#c30021; animation: fadeIn 2s infinite alternate;}

.carousel {margin: 50px auto; padding: 0 70px;}
.carousel .item { overflow: hidden; min-height: 290px;}
.carousel-item p {text-align: center; font-size:20px}
.carousel .person {	font-size:16px; font-weight: 600;}
.carousel .person i {color:#000!important; animation: none!important; font-size:25px; position: relative; top: 5px; padding-right: 5px;}

.reviews-rating {padding: 5px 0; font-weight: 600; text-align: center; font-size: 16px;}
.reviews-star {width:20px; height:auto; padding: 0 3px; display: inline-block!important; position: relative; top: -4px;}

.reviews-link {text-align: center; margin-bottom: 80px;}
.reviews-link a { font-size: 27px; font-weight: 600; color:#961318; text-transform: uppercase; text-decoration: none!important;}
.reviews-link a i {color:#961318!important; animation: none!important;}
.reviews-link a:hover {color:#000!important;}

@keyframes fadeIn { 
  from { opacity: 0.1; } 
}

/**************************
HOME PAGE -  INSTAGRAM PANEL
**************************/
.home-instagram {padding: 80px 0; background-color: #fff;}
.home-instagram .container {max-width: 1400px;}

/* iframe */
#instagram-panel {background: #fff; padding-top: 10px; padding-left: 10px; padding-right: 10px;}

/* embedded */
#instagram-panel-embedded {background: #fff; margin: 50px 0;}

.carousel-instagram-embedded * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;}
.carousel-instagram-embedded { width: 100% !important; margin: 0 auto;}
.carousel-instagram-embedded img {/*max-width:100%;*/ vertical-align:baseline; width:250px; height:250px;}
.carousel-instagram-embedded img { border: 10px solid #fff; }
.carousel-instagram-embedded span {width:100px; vertical-align: top; padding: 0; }
.cycle-caption { height: auto!important;
    position: relative!important;
    color: white;  	
	margin: 0 20px 10px 20px;	
	right:inherit!important;
	bottom:inherit!important;
	z-index: inherit!important;
}
.cycle-caption p { color: #fff; font-size: 16px; white-space: nowrap; white-space: initial; padding:0 5px; text-align: center;}

/**************************
HOME PAGE -  CLIENTS PANEL (LINKS MODULE)
**************************/
.home-clients {padding: 80px 0; background-color: #e8ecf2;}
.home-clients a:hover > img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */	
}
.home-clients-img {width:100%; height: auto;}

/**************************
PARALLAX
**************************/
.parallaxParent {
	height: 800px;
	overflow: hidden;
}
.parallaxParent > * {
	height: 150%;
	position: relative;
	top: -100%;
}

.parallax-img {width:100%; background-image: url(../../images/site/team-new.jpg); background-repeat: no-repeat; background-size:cover; background-position: center;}
.parallax-img-main {background-image: url(../../images/site/team-new.jpg)!important;}
.parallax-img-mod {background-size:100%;}

.parallax-overlay {width: 100%; transform: translate(0%, -50%)!important; height:100%!important; background:rgba(255,255,255,0.60);}
.parallax-txt {width: 40%; padding: 0 5%; transform: translate(0%, 50%)!important; height:auto!important;}
.parallax-txt h2 {font-family: 'Merriweather', serif; font-size:48px; font-weight: 400; margin-bottom: 60px;}
.parallax-txt p {font-family: 'Merriweather', serif; font-size:19px; font-weight: 300; margin-bottom: 40px;}

.panel-meeting {background: #c30021;}
.panel-meeting-txt {padding:0 5% 0 25%;}
.panel-meeting-txt h2 {color:#fff; font-size: 21px; padding-bottom: 20px; font-weight: 600;}
.panel-meeting-txt p {color:#fff; font-size: 21px;}

.panel-meet-team {padding:20px 0;}
.panel-meet-team a {text-decoration: none!important; font-size: 21px;}

/**************************
GENERAL FORMS
**************************/
.frm-general {padding:0; text-align: left;}
.frm-general #label-message-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {width:100%;}
.frm-general .hs_firstname  {display:inline-block; width:100%;}
.frm-general .hs_message {display:inline-block; width:100%;}
.frm-general .hbspt-form #email-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {width:auto!important;}
.frm-general .hs_message div {display: inline-block!important; width:100%;}
.frm-general .hbspt-form #message-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {height:200px!important;}

.frm-general #username, .frm-general #password {width:100%; font-size: 22px; margin-bottom: 20px;}

/**************************
NAVSIDEBAR
**************************/
.blog-sidebar {padding: 0; background: #fff; }
.sidebar-module {padding: 0px; height: 100%;  color:#fff; font-weight: 500; text-align: center; width:100%; text-align: center; margin:auto;}

.sidebar-module ul {display: flex; flex-direction: row; column-count: 3; justify-content: left; padding: 0; margin: 0;}
.sidebar-module ul li {width: 33.3%; border:none; padding:0;}
.sidebar-module ul li.active {background: none; border:none;}
.sidebar-module ul li.active > a .menu-name { /*border-bottom: 2px solid #c30021!important;*/ font-weight: 600;}
.sidebar-module ul a {color: #000; text-decoration: none; font-weight: 300; font-size:27px; text-align: left;}
.sidebar-module ul a .menu-name { width:40%; text-align: left; padding-bottom: 10px; border-bottom: 2px solid #fff;}
.sidebar-module ul a .menu-name h1 { font-weight: 300; font-size:27px; text-align: left;}
.sidebar-module ul a .menu-name h1::after {display: none; visibility: hidden; height: 0;}
.sidebar-module ul a .menu-desc {visibility: hidden; font-size:16px; padding-top: 20px; }
.sidebar-module ul a .menu-desc p {margin-bottom: 10px;}
.sidebar-module ul a .menu-more {visibility: hidden; font-size:16px;  text-transform: uppercase; color: #c30021; font-weight: 500; padding-bottom: 10px;}
.sidebar-module ul a .menu-img {padding-top: 20px;}
.sidebar-module ul a .menu-img-resp {display:none; visibility: hidden; height:0;}

.sidebar-module ul a:hover > .menu-name { border-bottom: 2px solid #c30021; color:#c30021;}
.sidebar-module ul a:hover > .menu-desc {visibility: visible; height: auto;
	/*animation-iteration-count: 1;
	animation: fadeIn ease-in 2s;
	-webkit-animation: fadeIn ease-in 2s;
	-moz-animation: fadeIn ease-in 2s;
	-o-animation: fadeIn ease-in 2s;
	-ms-animation: fadeIn ease-in 2s;*/
}
.sidebar-module ul a:hover > .menu-more {visibility: visible;}
.menu-more:hover {color:#000!important;}
.sidebar-module ul a:hover > .menu-img {visibility: visible;}
.sidebar-module ul a:hover > .menu-img {	
	animation-iteration-count: 1;
	animation: enlarge ease-in 1s;
	-webkit-animation: enlarge ease-in 1s;
	-moz-animation: enlarge ease-in 1s;
	-o-animation: enlarge ease-in 1s;
	-ms-animation: enlarge ease-in 1s;
}

.sidebar-page ul li::before, .sidebar-page h1::after {display:none!important;}
.sidebar-page h1 {font-size: 34px; text-align: left; margin: 0; font-weight:300; color:#000; width:50%; border-bottom: 2px solid #c30021; padding-bottom: 20px; margin-bottom:20px;}
.sidebar-page ul {display: flex; flex-direction: column;}
.sidebar-page .menu-img, .sidebar-page .menu-desc, .sidebar-page .menu-more {visibility: hidden; display: none; height: 0; padding-left:15px;}
.sidebar-page .page-icon {text-align:left; padding-bottom: 10px;}
.sidebar-page .page-icon img {max-width: 20%;}
.sidebar-page ul li.active {/*display:none; visibility: hidden; height: 0;*/}
.sidebar-page ul li a .menu-name { width: 100%; font-size: 34px; font-weight: 300; color:#000;}
.sidebar-page ul li {width:100%; padding: 5px 0; margin: 0;}
.sidebar-page ul li > a .menu-name {font-size: 18px; padding-bottom: 0; border:none!important; font-weight: 300; text-transform: uppercase;}
.sidebar-page .chevron-down {width: 40%; position: relative; padding-top:20px; transform: none; text-align: left;}

.blog-masthead-content {width:100%;}
.blog-masthead-content-menu {float:left; width:30%; min-height: 550px;}
.blog-masthead-content-menu .blog-sidebar {padding:0;}
.blog-masthead-content-frm {float:left; width:70%;}

@keyframes enlarge {
  0% {	
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */	
  }
  100% {	
    transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -moz-transform:scale(1); /* Firefox */
    -webkit-transform:scale(1); /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */	
  } 
}

@-moz-keyframes enlarge {
  0% {	
    transform:scale(0.8);
    -ms-transform:scale(0.8); /* IE 9 */
    -moz-transform:scale(0.8); /* Firefox */
    -webkit-transform:scale(0.8); /* Safari and Chrome */
    -o-transform:scale(0.8); /* Opera */	
  }
  100% {
    transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -moz-transform:scale(1); /* Firefox */
    -webkit-transform:scale(1); /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */	
  } 
}

@-webkit-keyframes enlarge {
  0% {	
    transform:scale(0.8);
    -ms-transform:scale(0.8); /* IE 9 */
    -moz-transform:scale(0.8); /* Firefox */
    -webkit-transform:scale(0.8); /* Safari and Chrome */
    -o-transform:scale(0.8); /* Opera */	
  }
  100% {
	opacity: 1;
    transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -moz-transform:scale(1); /* Firefox */
    -webkit-transform:scale(1); /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */	
  } 
}

@-o-keyframes enlarge {
  0% {	
    transform:scale(0.8);
    -ms-transform:scale(0.8); /* IE 9 */
    -moz-transform:scale(0.8); /* Firefox */
    -webkit-transform:scale(0.8); /* Safari and Chrome */
    -o-transform:scale(0.8); /* Opera */	
  }
  100% {	
    transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -moz-transform:scale(1); /* Firefox */
    -webkit-transform:scale(1); /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */	
  } 
}

/**************************
PAGE CONTENT
**************************/
.page-content {width:100%; clear:both; padding-top: 90px;}
.page-content-txt {width:50%; float:left;}
.page-content-img {width:50%; float:left;}

.page-content-full {clear:both; padding-top: 90px; width: 100vw; margin-left: calc(50% - 50vw);}
.page-content-full .box-round-red {border-radius: 0!important; width:100%;}
.page-content-full .box-round-red .img-float {width:50%;}
.page-content-full .box-round-red .box-round-red-txt {width:50%;}

.page-content-slider {clear:both; width: 100vw; margin-left: calc(50% - 50vw); background: #e8ecf2;}
.page-content-slider .carousel-inner {margin: auto; text-align: center;}
.page-content-slider-wrapper {  margin:auto; }
.page-content-slider-inner {border-radius: 0!important; width:100%; padding:30px 0; color:#fff; display:inline-block; position: relative; margin: 20px auto; border-radius: 20px; max-width: 1140px;}
.page-content-slider-inner .box-img {width:50%; padding-left:10px; margin:0; position: relative; text-align: right; float:right; display: grid;}
.page-content-slider-inner .box-img img {width:100%; height: auto; border-radius: 20px; grid-row:1; grid-column:1;}
.page-content-slider-inner .box-img img:nth-child(1) {z-index: 2;}
.page-content-slider-inner .box-img img:nth-child(2) {z-index: 1;}
.page-content-slider-inner .box-txt {width:49%; color: #000; 
	position: absolute;  top: 50%;  
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

.page-content-team {clear:both; width: 100vw; margin-left: calc(50% - 50vw); background: #fff;}
.page-content-team-wrapper { max-width: 1140px; margin:auto; }
.page-content-team-inner {border-radius: 0!important; width:100%; padding:20px 0; color:#fff; display:inline-block; position: relative; margin: 20px auto; border-radius: 20px;}
.page-content-team-inner .box-img {width:70%; padding-left:10px; margin:0; position: relative; text-align: right; float:right; display: grid;}
.page-content-team-inner .box-img img {width:100%; height: auto; border-radius: 20px;}
.page-content-team-inner .box-txt {width:30%; color: #000; 
	position: absolute;  top: 50%;  
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}
.page-content-team-inner .box-txt a, .panel-team a {font-size:21px; text-decoration: none!important;}

.page-content-slider .box-txt h2 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:60px; font-weight: 900; color:#000; line-height: 1;padding-bottom: 20px; }
.page-content-slider .box-txt h2 span:first-child {font-family: 'Merriweather:ital', serif; font-size:70px; font-weight: 200; color:#000; font-style: italic; letter-spacing: -3px;}
.page-content-slider .box-txt h2 .fullstop {font-family: 'Merriweather:ital', serif; font-weight: 600!important; color:#9b1318!important; font-style:normal!important; position:relative;;}

.page-content-testimonial {font-style: italic; font-size: 18px; padding-bottom: 20px; }
.page-content-testimonial-name {font-weight:600; font-size: 16px;}
.page-content-testimonial-name a {color:#000;}

.page-content-cta a {border:1px solid #c30021; color:#fff!important; padding:20px 60px; display: inline-block; text-align: center; font-weight: 400; font-size: 21px; background-color: #c30021; text-decoration: none!important;}
.page-content-cta a:hover, .page-content-cta a:active {color:#c30021!important; background: #fff!important; font-weight:400!important; text-decoration: none!important;}

.page-content-cta-auto a {border:1px solid #c30021; color:#fff!important; width:auto; padding:20px 60px; display: inline-block; text-align: center; font-weight: 400; font-size: 21px; margin: 10px 0; background: #c30021; text-decoration: none!important;}
.page-content-cta-auto:hover > a, .page-content-cta-auto:active > a {color:#c30021!important; background: #fff!important; font-weight:400!important; text-decoration: none!important;}

.box-red {background: #c30021; padding:30px; color:#fff; display:inline-block; position: relative; margin: 20px 0; }
.box-red p { font-weight: 300;}
.box-red h3 {color:#fff!important;}

.box-red-txt {position: absolute;  top: 50%;  width:65%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);}
.box-red .img-float {float:right; width:30%; padding-left:10px; margin:0;}
.box-red .img-float img {width:100%; height: auto;}

.box-round-red {background: #c30021; padding:30px; color:#fff; display:inline-block; position: relative; margin: 20px 0; border-radius: 20px; }
.box-round-red p { font-weight: 300;}
.box-round-red h3 {color:#fff!important;}

.box-round-red-txt {position: absolute;  top: 50%;  width:65%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);}
.box-round-red .img-float {float:right; width:30%; padding-left:10px; margin:0;}
.box-round-red .img-float img {width:100%; height: auto; border-radius: 20px;}

.cta-red a {
    border: 1px solid #c30021;
    color: #fff !important;
    width: auto;
    padding: 20px 60px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    margin: 10px 0;
    background: #c30021;
	text-decoration: none!important;
}

.cta-red a:hover {
    color: #c30021 !important;
    background: #fff !important;
    font-weight: 400 !important;
}

.cta-white a {
    border: 1px solid #c30021!important;
    color: #c30021 !important;
    width: auto;
    padding: 20px 60px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    margin: 10px 0;
    background: #fff;
	text-decoration: none!important;
}

.cta-white a:hover {
	border: 1px solid #fff!important;
    color: #fff !important;
    background: #c30021 !important;
    font-weight: 400 !important;
}

.box-dotted {border: 3px dashed #c0c0c0; border-radius: 40px; margin: 20px 0; padding:30px 40px;  }

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
HELPER - BACK TO TOP BUTTON
**************************/
#btnTopPage {
  display: none; 
  position: fixed; 
  bottom: 0; 
  right: -70px;
  z-index: 99; 
  border: none; 
  outline: none;
  background-color: transparent; 
  color: #000;
  text-transform: uppercase;
  font-size: 14px;	
  font-weight: 300	
  cursor: pointer;
  padding: 0; 
  border-radius: 0; 
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;		
}

#btnTopPage i {animation: none!important;}

#btnTopPage:hover {color:#000!important;}

/**************************
SITE MAP
**************************/
.blog-sitemap { padding: 40px 20px;}
.blog-sitemap h1 { font-size: 28px; color: #00a1bc; font-weight: 600; padding-bottom: 10px;}

.site-map ul:first-child {padding-left:0px!important;}
.site-map ul {padding-left:30px!important; padding-bottom: 20px!important; list-style: none;}
.site-map ul ul ul {padding-bottom: 0px!important;}
.site-map li {padding-left:0!important;}
.site-map li::before {content: none!important;}

.site-map a, .site-map a:active, .site-map a:visited {text-decoration: none!important;}
.site-map ul li a:hover {color:#474747!important;}
.site-map ul li a {color: #3cb0bc!important; font-weight: 600!important; font-size: 20px!important;}
.site-map ul ul li a {color: #006884!important; font-weight: 600!important; font-size: 17px!important;}
.site-map ul ul ul li a {color: #4f4f4f!important; font-weight: 600!important; font-size: 15px!important;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
PROPERTIES
**************************/
.card-columns {
    column-count: 3;
}

.card-img-top{
    height:auto;
    width:auto;
    object-fit: cover;
}

.property-cards .col-7{
    text-align: right;
}

.property-detail-box{
    background-color: #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.property-header{
    height: 50px;
    background-color: #212529;
}

.property-header .header-suburb{
    color: #fff;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
}

.property-header .header-icons{
    color: #fff;
    padding: 13px;
    text-align: right;
}

.property-header .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fotorama{
    background-color: #e8e8e8;
    margin-bottom: 15px;
}

.fotorama-floorplan{
    z-index: 9999 !important;
    position: relative;
    height: 100%;
}

.floorplan-img{
    object-fit: cover;
    height:100%;
    width:100%;
}

#floorplan{
    padding: 0 !important;
    margin-left: -1px;
}

.agent img{
    margin-right: 10px;
}

#map{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/**************************
DONATIONS
**************************/
.navbar-donation {padding:0 10px;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 0px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: 100%;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}

.donationWrapper {padding: 10px 0; text-align: center;}
.donationWrapperInvisible {display:none;}
.txtDonationAmt {width: 100px;}	

.donationForm {display:none;}
.donationFormVisible {display:block;}

.donation-item a:hover > .donation-details {color:#fff!important; background-color: #000!important;}
.donation-details {background-color:#e8e8e8; text-align: center; color:#000; padding:20px; border-radius: 20px;}

.frmDonation .rad-donation {display:none;}
.frmDonation .label-amount {
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 18px;
	text-align: center;
	height: 150px;
	line-height: 100px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}

.frmDonation .radSectionAmount input:checked + .label-amount {
	border: 1px solid #000;
	background-color: #000!important;
}

.frmDonation .form-control[readonly] {background-color: #fff; border: none; padding: 0;}
.frmDonation .form-control[readonly]:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.donation-amt {position: absolute; bottom: 2px; width:100%; text-align: center;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 20px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: auto; margin:10px 0;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}


#frmRegister input[type="checkbox"]  {width:auto; display: block; float: left; margin-right: 5px; margin-top: 5px;}
.form-control-label {display:block;}
#frmRegister .progress {height: 5px;}
#frmRegister #progressBarDiv {font-size: 11px; color: #6c757d; margin-top: 5px; text-transform: uppercase; opacity: 0;}

/**************************
LOCATIONS
**************************/
.home-locations-div {width:100%; color:#474747; padding-bottom: 5px;}
.home-locations-state {display:inline-block; width: 50px; font-weight: 500; color:#fff; font-size:24px; margin-right: 15px;}
.home-locations-name {display:inline-block; padding: 0 2px;}
.home-locations-name a {color:#474747; text-transform: uppercase; font-weight: 500; font-size:24px;}
.home-locations-name a:hover {color:#fff;}

.locations-div {position: relative; padding:0; padding-bottom: 20px;}
.location-div {background-color: #c2e9ef; margin:20px 0; padding:20px; height: 100%;}
.locations-name h2 {color: #0087ae!important; font-weight: 600!important; padding: 0px 0 5px 0!important; font-size: 20px!important; margin-top: 0!important;}
.locations-address {padding-bottom:10px; color: #72a1b2; font-weight: 500; padding-bottom: 5px;}
.locations-address p, .location-address p  {color: #72a1b2; font-weight: 500; padding-bottom: 0px; margin-bottom: 5px;}
.locations-address a {}
.locations-link {position:relative; bottom:0; color: #284863; font-weight: 600; text-transform: uppercase; padding-top: 15px;}
.locations .col-lg-4 {margin-bottom: 50px;}
.locations .col-lg-12 {padding-bottom: 0;}
.location-appointment {padding:10px 0;}
.locations-state {float:right; color: #0087ae; font-weight: 500; padding: 0px 0 5px 0; font-size: 20px;}
.locations-col {padding-bottom:30px;}

.locations-contact {height:100%; padding-bottom: 20px;}
.locations-contact-txt .btn-booking {margin:0px!important;}
.locations-contact-txt:first-of-type {margin-bottom: 40px;}
.locations-contact-txt h2 {color: #0087ae!important; font-weight: 600!important; padding: 0px 0 5px 0!important; font-size: 20px!important;}

.location-side {background: #474747; color:#fff; padding:10px 20px 20px 20px;}
.location-side h2 {color:#fff!important; text-transform: uppercase; font-weight: 600 !important; font-size: 20px !important;}
.locations-map iframe {max-width:100%; width:100%; margin-top: 20px;}
.location-map {/*float:right; margin-left:15px;*/}
.location-map iframe {max-width:100%; width:100%;}
.location-side ul li {color:#fff!important;}
.location-side ul li::before {color:#fff!important;}

.location-address {padding-bottom:10px; color: #284863; font-weight: 500;}
.location-address a { font-weight: 500!important; font-size:17px!important;}
.location-description {padding-top:20px;}
.location-fax {padding-left:30px;}

.location-directions ul{padding-left: 30px !important;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 320px; /* Set the fixed height of the footer here (for sticky footer) */
  text-align: left; 
  z-index: 0;
  background-color: #c30021;
}

.footer-txt-top {position: relative; top: 80px;}
.footer-txt-top a, .footer-txt a:active {color: #fff!important; text-decoration: none; font-size: 18px !important; line-height: 100%; padding: 0; font-weight: 600; text-transform: uppercase;}
.footer-txt-top a:hover{ color: #000!important; text-decoration: none;}

.footer-txt-bot {color: #fff!important; width: 100%; margin: 0 auto; text-align: center; font-size: 16px; position: relative; top: 160px; font-weight: 400;}
.footer-txt-bot a, .footer-txt-bot a:active {color: #fff!important; text-decoration: none; font-size: 15px; line-height: 120%; padding: 0 12px; font-weight: 400; text-transform: uppercase;}
.footer-txt-bot a:hover{ color: #000!important; text-decoration: none;}
.footer-txt-bot-trad {display: inline-block;}

.footer-txt-top-social {padding:0 10px!important;}

.footer-txt-top-social:hover > img {
	transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */	
}

.footer-newsletters {width:100%; text-align:center; padding-top: 10px;}
.footer-newsletters a {font-size: 16px!important; font-weight: 400; text-transform: lowercase;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {/*border-top: 1px #e8e8e8 solid; */ margin-top: 40px; padding: 20px 0; clear: both;}
.pagination{padding-left: 0 !important; flex-wrap: wrap;}
.pagination  li {padding: 0!important; font-size: 16px!important; margin-bottom: 0!important;}
.pagination  li a {font-size:16px!important;}
.pagination li::before{content: none !important;}
.pagination  li a:hover {color:#c30021; background-color: #fff; border: 1px #c30021 solid;}

.pagination .page-link {border:none!important; text-decoration: none!important; padding: 4px 10px 7px 10px; margin-left: 0;}
.page-item.active .page-link {
    background-color: #c30021!important;
    border-color: #c30021!important;
	border-radius: 7px;
	text-decoration: none!important;
}
.pagination .page-link:hover {text-decoration: underline!important;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {
    text-transform: uppercase!important;
    background: #00a1bc!important;
    padding: 7px 15px!important;
    color: #fff!important;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #00a1bc!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-radius: 0px!important;
    margin-top: 10px;
} /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more:hover {
    background: #fff !important;
    color: #00a1bc !important;
}


.btn-back {width:100%; padding: 20px 0 0 0; font-weight: 600;font-size: 15px !important; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color:#c30021; font-weight: 600; text-transform: uppercase; padding-top: 5px; text-decoration: none;}	
.btn-back a:hover {color: #000!important;}

/**************************
NEWS MODULE
**************************/
.news-list {padding:40px 0;}
.news-list-item {clear:both;  padding: 0px 0 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: auto;}
.news-list-item-img {float: right;  width: 35%;}
.news-list-item-img img { width: 100%; max-width: 100%; height: auto;}

.news-item {clear:both; padding: 10px 0px; width:100%;}
.news-item-txt {float: left;  width: 65%;  }
.news-item-img {/*float: right;  width: 35%; height: auto; text-align: center; margin: 0;*/ width:100%;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}
.news-item img {max-width: 100%!important; height: auto !important;}
	
.news-newsletter {width:100%; border: #e8e8e8 1px solid;  -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px; padding: 5px 10px 10px 10px; margin: 20px 0px;}
.news-newsletter h4 {color:#333366; font-size: 20px; font-weight: 500; text-align: left; border-bottom: 2px dotted #717071; padding-bottom: 10px; margin-bottom: 0px;}
.news-newsletter p {margin: 5px 0; text-align: left;}
.news-newsletter input {width:100%!important; margin-bottom: 10px; font-size: 12px;padding: 0px 5px;}
.news-newsletter button {width:100%!important; padding:4px 0;}


.panel-news-item {width: 100%; /*padding: 0 0 40px 0; */}
.panel-news-item .div-img {width:100%;}
.panel-news-item img {}

.panel-news-item-category-date {color:#000; font-weight: 600;}
.panel-news-item-category {color:#b5b8b8; font-weight: 600; text-transform: uppercase;}
.panel-news-item-date {color:#f6862d; font-weight: 600; text-transform: uppercase; }
.panel-news-item-title h2, .panel-news-item-title {color:#000!important; font-weight: 600!important; padding: 5px 0 0 0!important; font-size: 17px!important; margin-top:0!important; line-height: 100%!important; }
.panel-news-item-shortdesc {color:#000; font-weight: 300; padding-bottom: 5px; }
.panel-news-item-readmore {font-family: "Lato",Arial,Verdana,sans-serif; font-size: 13px; font-weight: 600; color: #951318; text-transform: uppercase; letter-spacing: 2px;}
.panel-news-item-shortdesc p {font-size: 15px;}
.panel-news-item p {margin-bottom: 0px;}

.panel-news-item a {text-decoration: none!important;}
.panel-news-item a:hover > div > img {overflow:hidden; opacity:0.8;}
.panel-news-item a:hover > .panel-news-item-readmore {font-size: 14px!important;}

.panel-news-item a:hover .div-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.news-list .card-columns {column-gap: 2rem;}
.news-list .card-columns .card {margin-bottom: 2rem;}
.news-list .card {border:none; border-radius: 0;}
.news-list .card-body {background-color:#e8ecf2;}

.news-item-other {margin-bottom:30px;}
.news-item-other-hdr h2 {font-size: 17px!important;}
.nopadding {padding-left: 0!important; margin: 0 !important; padding-right: 0!important;}

.news-cta .card-body { color:#fff; text-align: center; margin:auto; background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%); padding: 20px 20px 40px 20px; margin-bottom: 40px;}
.panel-news-cta {width: 100%;}
.panel-news-cta .div-img {/*width:100%;*/ margin: auto;}
.panel-news-cta img {width:50%!important;}
.panel-news-cta-title {color:#fff; font-size: 17px; font-weight: 500;}
.panel-news-cta-button { border: 1px solid #fff; color:#fff; text-transform: uppercase; margin-top:15px; margin-bottom:0px; padding:5px;}
.panel-news-cta-button a {color:#fff!important;}
.panel-news-cta-button:hover {color:#ff6903!important; background: #fff!important;}
.panel-news-cta-button:hover > a {color:#ff6903!important;}

.div-cta-bottom {width:100%;}

.news-cta-bottom {margin-top:20px;}
.div-cta-bottom {width: 100% !important;}
.div-cta-bottom .div-img-bottom {float:left; width:auto!important;}
.div-cta-bottom .div-cta-txt {float: left; text-align: left;}
.div-cta-bottom .div-cta-txt .panel-news-cta-button {width:auto;}
.div-cta-bottom .div-cta-txt .panel-news-cta-button {text-align:center; display: inline-block; padding: 5px 20px;}
.card-body-cta-bottom {margin-bottom: 0 !important; padding: 20px 20px 20px 20px !important; }
.div-cta-bottom .div-img-bottom img {width: 70% !important;}

.news-categories {padding-bottom: 20px;}
.news-categories .container {padding-left:0!important; padding-right:0!important;}
.news-categories-col {padding-bottom: 10px;}
.news-categories-a {text-align: center; width:100%; border:1px solid #e8ecf2; font-size: 18px;}
.news-categories-a:hover {border-color: #c30021!important;}
.news-categories-a:hover > a {color: #c30021}
.news-categories-active, .news-categories-active > a {background: #c30021!important; color:#fff!important; border:1px solid #c30021; }

.blog-author {color:#000; font-size:17px; padding-bottom: 10px; }

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

.faqs h2 {margin-top: 0!important;}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
TEAM MODULE
**************************/

.team-item {   
	padding-top: 80px;
}

.team-item-img {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background-size: cover!important;
   /* padding: 15px;*/
}

.team-name-band{
    position: absolute;
    bottom: 5px;
    height: 90px;
    padding: 10px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, .5);
    left: 0;
    margin-left: 5px;
    text-align: center;
    color: white;
}

.team-name-band-title {font-size: 14px; color:#fff; font-weight: 300;}

.team-name-band a:hover{
    color: white !important;
}

.team-name-band p {margin-bottom: 0;}

.team-h2 {padding-top:0px!important; padding-bottom: 10px !important;}
.team-h2-gap {padding-top:30px!important;}
.team-hr hr {border-top: 2px solid #000!important;}

.team-item .div-img img {width:100%;}
.div-img img {width:100%; }

.team-txt {padding: 40px 0 40px 0; text-align: center; margin: auto;}
.team-name-band-name h2 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:27px; font-weight: 900; line-height:normal!important; padding: 0 0 20px 0!important; margin: 0!important; color:#000;}
.team-name-band-name h2 span {font-family: 'Merriweather:ital', serif; font-style: italic; font-weight: 200; letter-spacing:-3px;}
.team-name-band-description {color:#000; font-size: 23px; padding:10px 0 10px; font-weight: 300; /*width: 85%;*/ margin: auto;}
.team-name-band-description p {font-size: 18px;}
.btn-back-team {padding: 0px 10px!important;}

.team-a {}
.team-a,.div-img  {overflow:visible; width: 90%; margin: auto; }

.team-div-img {}
.team-a a {text-decoration: none!important;}
.team-a a:hover > .team-div-img .cta-booking-dr {color:#000!important;}

.team-a:hover  {overflow:hidden;}
.team-a a:hover > .team-div-img {
	transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */	
}
.team-a a:hover > .team-div-img .div-img img:first-child {display: none; visibility: hidden; height: 0;}
.team-a a:hover > .team-div-img .div-img img:nth-child(2) {display:block; visibility: visible; height: auto;}

.team-a a:hover > .team-txt .team-name-band-name h2 span {color: #c30021!important; font-weight: 600!important;}

.team-list-header {width:100%; /*border-bottom: 6px solid #ff6903;*/ margin-bottom: 20px;}

.team-list-header-txt {
    float: left;
    max-width: 70%;
    height: 100%;
    position: relative;
    bottom: 0;
	padding-left: 20px;
    /*-webkit-transform: translateY(40%);
    -ms-transform: translateY(40%);
    transform: translateY(40%);*/
}

.team-list-header-img { float: left; max-width: 30%; }
.team-list-header-txt h1 {padding:0!important; color: #3cb0bc!important; font-weight: 600!important; font-size: 20px!important;}
.team-list-header-txt h3 {padding:0!important;}
.team-list-header-txt h4 {padding:0!important;}

.team-row {margin-left:0; margin-right:0;}

.cta-booking-dr {padding: 5px 0; }
.cta-booking-dr a {width:auto; background: #3cb0bc!important; color:#fff!important; font-size: 14px!important; font-weight: 600!important; text-transform: inherit; padding: 5px 10px; display: inline-block; text-align: center; border: 1px solid #3cb0bc!important; text-align: left;}
.cta-booking-dr a:hover {color:#3cb0bc!important; background: #fff!important; border: 1px solid #3cb0bc!important;} 

.team-a .cta-booking-dr {width:100%!important; text-align: center!important; background: #3cb0bc!important; color:#fff!important; font-size: 14px!important; font-weight: 500!important; text-transform: inherit; padding: 15px 10px!important;  border: 1px solid #3cb0bc!important; }
.team-a .cta-booking-dr a {width:100%!important; text-align: center!important;}
.team-div-img .div-img img  {margin: 10px 10px 0px 10px;}
.team-div-img .div-img img:nth-child(2) {display: none; visibility: hidden; height: 0;}

.team-a a:hover > .cta-booking-dr {background: #fff!important; color:#3cb0bc!important;}

.panel-team {width:100%; margin:auto; display: flex; flex-wrap: wrap;}
.panel-team-txt {width:11%!important; margin-right:5%; display: inline-block;}
.panel-team img {width:100%!important;}
.panel-team a { text-decoration: none!important;}
.panel-team a img:nth-child(2) {display: none; visibility: hidden; height: 0;}

.panel-team a:hover > img { text-decoration: none!important;
	/*transform:scale(1.1);
    -ms-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -webkit-transform:scale(1.1); 
    -o-transform:scale(1.1); */	
}
.panel-team a:hover > img:first-child {display: none; visibility: hidden; height: 0;}
.panel-team a:hover > img:nth-child(2) {display: block; visibility: visible; height: auto;}

.panel-team .panel-team-name {display: block; font-size: 16px; text-align: center; padding-top: 10px;  text-decoration: none!important;}
.panel-team .panel-team-position {display: block; font-size: 16px; text-align: center; padding-top: 5px; font-style: italic; color:#000; font-weight: 300;  text-decoration: none!important;}

/**************************
PROJECTS MODULE
**************************/
.projectsWrapper {padding: 40px 0;}
.projectsRow {background-color: #e8ecf2; min-height: 200px;}

.blog-projects h1, .blog-news h1 {font-size:27px; font-weight:300; padding 10px 0;}
.blog-projects h1::after, .blog-news h1::after {display: none; visibility: hidden; height: 0;}

.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

.project-imgs {padding:20px 0; text-align: center;}
.project-imgs img {max-width:90%; text-align: center; margin:auto;!}

/**************************
CTA Buttons
**************************/
/* HTML Code Blooc for Style Guide page */
.code-block {padding: 10px 20px; background:#F7F5F5; font-size: 12px; margin-bottom: 60px; margin-top: 10px;}
.code-block h2 {color:#000!important; margin:0!important; padding:0!important; font-size: 15px!important;}

.cta-calculator {background: #C30021; display: inline-block; padding: 0px 20px 0px 20px; position:relative; margin: 20px 0; min-width:430px;}
.cta-calculator .popups-img {height:auto;padding-left:60%; right: -45%;}
.cta-calculator .popups-txt {margin-bottom: 10px;}
.cta-calculator .popups-cta {display: block;}

/**************************
EXTRAS
**************************/
.cross-fade-wrapper {width:100%; clear:both;}
.cross-fade-wrapper-img {float:right; width:40%;}
.cross-fade-wrapper-txt {float:left; width:60%;}

.cross-fade {
  position:relative;  
}

.cross-fade img {
  position:absolute;
  left:0;
 
  -webkit-animation-name: crossfade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-name: crossfade;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}

@-webkit-keyframes crossfade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes crossfade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

.cross-fade img:nth-of-type(1) {
 
}
.cross-fade img:nth-of-type(2) {
  animation-delay: -6s;
}
.cross-fade img:nth-of-type(3) {
  animation-delay: -4s;
}


@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
RESPONSIVE
**************************/
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) { */
@media screen and (max-width: 480px) {		
	header, .affix {padding:0!important; height: 50px!important; }			
	body {font-size:18px!important; margin-bottom: 600px!important;}
	#btnTopPage { right: -85px;}
	
	.navWrapper {height: 80%; width: 90%;}
	nav ul {display: block;}
	nav li {flex: none; display: block; max-width:none!important;}
	.nav-item {padding-bottom: 1%;}
	.nav-item img {width: 15%!important; float: left; height: inherit!important;}
	.nav-headline {float: right; width: 85%; text-align: left; font-size: 22px; padding-top: 9px; padding-left: 5px;}
	.nav-subheadline {float: right; width: 85%; text-align: left; display: none; visibility: hidden; height: 0;}
	nav a:hover > .nav-item {
		transform: none!important;
		-ms-transform: none!important;
		-moz-transform: none!important;
		-webkit-transform: none!important;
		-o-transform: none!important;
	}
	
	.panelSlider {min-height: 100vh;}
	.panelHeader { padding: 0 10px;}
	.panelHeaderMenu {top:8px;}
	.panelHeaderContact, .affix .panelHeaderMenu, .affix .panelHeaderContact {top:5px!important;}
	.panelHeaderLogo {padding-left: 10px;}
	.panelHeaderLogo img {height:50px;}	
	.sliderCaption-h1 {font-size:30px!important; padding-bottom: 5px; /*background-color: #e8ecf2;*/}		
	.sliderCaption-h1 span {font-size:33px!important; /*background-color: #e8ecf2;*/}
	.panelHeaderContact a { padding: 0 5px;}
		
	.panelSliders { padding-top: 50px; margin-bottom: -50px;}	
	.panelSliderPanel { animation: none!important;}
	.panelSlidersImage, .panelSlidersImageBackground {display:block; text-align: center;}
	.panelSlidersCaption {width:100%; left:inherit; text-align: center; padding: 0 5px; padding: 100px 5px 0 5px!important; bottom:25%; top:auto!important; background: none!important; position: relative; }
	.panelSlidersImage img, .panelSlidersImageBackground img {max-width: 90%!important; height: auto!important;}	
	.sliderCaption-h2, .blog-masthead h1 {font-size: 18px!important;}	
	
	.chevron-down {transform: translateY(-20%);}	
	.menu-img img {height:100px;}	
		
	.panelSliderInner {height:130px!important; max-height: 130px!important;}
	.panelSliderInner .panelSlidersImageBackground {bottom:-2px;}
	.panelSliderInner .panelSlidersImageBackground img {max-width: 100%!important;}
	.panelSliderInner .panelSlidersCaption {left:20px!important;}
	.panelSliderInner .panelSlidersCaption .sliderCaption-h1 {padding-top:10px!important;}
	.panelSliderInner .sliderCaption-h1 {font-size:20px!important; padding-bottom: 0!important;}
	.panelSliderInner .sliderCaption-h1 span {font-size:23px!important; letter-spacing:0!important;}
	.panelSliderInner .sliderCaption-h2 {font-size:16px!important;}
	
	.blog-masthead-content {padding:0 20px;}
	.sidebar-module ul {flex-direction: column!important;}
	.sidebar-module ul li {margin-bottom: 0!important; padding:0 0 20px 0!important;} 
	.sidebar-page .sidebar-module ul li {padding:10px 0!important;} 
	.sidebar-page h1 {margin-bottom:10px!important; padding-bottom: 10px!important; width:100%!important;}
	.blog-masthead-content-menu {padding-bottom: 20px!important;}
    .sidebar-module ul a .menu-img-resp {display:inline-block; visibility: visible; height:auto; padding-right:10px;}
	.sidebar-module ul a .menu-img-resp img {height:50px;}
	.sidebar-module ul a .menu-img, .sidebar-page ul a .menu-img-resp {display:none!important; visibility: hidden!important; height:0!important;}
	.sidebar-module ul a .menu-name {padding-bottom: 5px; text-align: left!important;}
	.sidebar-module ul a .menu-desc {padding-top: 5px;}
	.sidebar-module ul a .menu-desc p {margin-bottom: 5px;}
	.sidebar-page h1, .sidebar-page .page-icon {text-align: left!important;}
	
	.blog-masthead .home-projects-item-video iframe { min-height:290px!important;}
	.home-projects-item-video {background:#e8ecf2; height:210px!important; }
	.home-projects-item-video iframe {position:relative!important; /*min-height:220px!important;*/ height: 210px!important; width: 100%; min-height: inherit!important;}
	
	.home-projects-item-overlay-txt, .home-projects-item-overlay-txt2 {width:95%;}
	.home-projects-item-overlay-line3, .home-projects-item-overlay-line2 {display:none; visibility: hidden; height: 0;}
	.home-projects-item-overlay-line3, .home-projects-item-overlay-line3 p {font-size:14px!important;}		
	
	.project-item-txt, .project-item-img {float:none; width:100%;}
	
	.home-intro h1 span {font-size:35px!important; padding: 0 5px;}
	.home-intro h1  {font-size:30px!important;}
	.home-h2 {font-size:20px!important;}
	.home-h2 span {font-size:25px!important;}
	.blog-masthead h1 {font-size:20px!important;}
	.blog-masthead h2 span {font-size:15px!important;}
	.blog-masthead h1:after { background-size: 100%;}
	.sliderCaption-h2,
	.home-intro p,
    .home-form .hbspt-form .hs-button,
	.home-newsletter p, 
	.carousel .person,	
	.home-projects-item-overlay-line1,
	.reviews-link a
		{font-size:18px!important;}
	.home-projects-item-overlay-txt {font-size:16px;}
	.blog-masthead h2 {font-size: 20px;}
	.blog-masthead h3 {font-size: 18px;}
	.juiAccordion {margin-left:0!important;}
	
	.home-contact a {font-size:18px;}
	.home-form label {margin-bottom: 0!important;}
	.home-form p {margin-bottom: 5px!important; font-size: 16px!important;}
	.modal-Generic .modal-content {top:0!important; height:auto!important; min-height: auto!important;}

	.carousel .person {padding: 20px 0; font-size: 18px;}
	.reviews-link {margin-bottom: 40px;}
	
	.home-intro {padding: 0 0 40px 0;}
	.home-intro-main {padding-top: 45px; margin-top: 15px;}
	.home-intro p {padding-top:10px;}
	
	.home-contact,
	.home-newsletter,
	.home-testimonials,
	.home-instagram,
	.home-clients	
		{ padding: 40px 0;}

	.home-intro h1:after,
	.home-h2:after 
		{background-size: contain; margin: 0 15%;}
	
	.home-form img {max-width:30%!important;}
	.home-instagram img {max-width:100%!important; height:auto!important; width:auto!important;}
	.home-contact .container img,
	.home-testimonials .container img,
	.home-newsletter .container img
		{max-width: 30%; height: auto;}
	.home-clients .container img {max-width: initial!important;}
	.home-clients .container {width:95%!important;}
	.home-clients .container .col-3 {padding-left:0!important; padding-right: 0!important;}
	
	.home-testimonials .carousel { padding: 0 5%;}
	
	.home-form .hbspt-form .input, .hs_email, .hs_firstname {display: block;}
	.home-form .hbspt-form .hs-input { /*width: 100%;*/ text-align: left; margin-bottom: .5rem;}
	.hbspt-form {text-align:left; padding-bottom: 30px;}
	.modal-Generic .hbspt-form {text-align:center!important;}
	
	.blog-masthead h1:after {margin-top: 0!important;}
	.blog-masthead h1 span {font-size: 35px!important;}
	.blog-masthead p {font-size:18px;}
	.blog-masthead ul li {font-size:18px;}		
	
	footer {height: auto!important; padding: 20px 5%;} 
	.footer .flex-row {display:block!important;}
	.footer .flex-row div {text-align: center; padding: 10px 0!important;}
	.footer-txt-top {position:initial;}
	.footer-txt-bot {position:initial; padding: 40px 0 0 0;}
	.footer-txt-bot a, .footer-txt-bot a:active { padding-top: 20px; display: inline-block;}
	.footer .flex-row div img {margin-bottom: 20px; display: inline-block;}
	
	.card-columns {column-count: 1!important;}
	.news-categories-col {flex:none; max-width: 100%;}
	
	.modal-Generic .modal-btn {top:15px!important; right:35px!important;}
	.modal-Generic .modal-body {padding:0!important;}
	.modal-Generic .home-form .hbspt-form .hs-submit {margin-top:0!important;}
	.modal-Generic .home-form .hbspt-form .hs-button {margin:10px 0 30px 0!important; padding:10px!important;}
	.modal-Generic .home-form .hbspt-form #message-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {height:30px!important;}
	.modal-Generic .home-h2 {padding-bottom: 0!important;}
	.modal-Generic .home-h2, .modal-Generic .home-h2 span {padding-bottom:0!important;	}
	.modal-Generic .home-h2:after {height:10px!important}
	
	.sidebar-module span {display:block;}		
	
	.box-red {}
	.box-red-txt {position: relative; transform: none; width:100%; padding-top: 20px;}
	.box-red .img-float {float:none; width:100%; padding: 0;}
	.page-content-cta a, .page-content-cta-auto a {width:100%; padding:20px 10px;}

	.coronavirusUpdates-txt {display:none; visibility: hidden; height: 0;}
	.coronavirusUpdates-txt-resp {display:block; visibility: visible; height: auto;} 
	
	.home-ctas h2 {font-size:30px;}
	.home-ctas-a-block {width:100%;}
	.home-ctas-block {width:100%;}	
	
	.projectsWrapper {padding:0!important;}
	.blog-projects .projectsRow {background-color: #fff!important; }
	.blog-projects .home-projects-item {margin: 20px 0;}
	.blog-projects .home-projects-item-overlay { bottom: 23px!important; top:inherit!important;}
	.blog-projects .home-projects-item-a:hover > .home-projects-item .home-projects-item-overlay {background:none;}
	.blog-projects .home-projects-item-a:hover > .home-projects-item .home-projects-item-overlay .home-projects-item-overlay-txt2 .home-projects-item-overlay-line1 {visibility: hidden!important;}
	.blog-projects .home-projects-item-a:hover > .home-projects-item .home-projects-item-overlay-txt {visibility: visible!important; opacity: 1!important;}
	
	.grecaptcha-badge {margin:auto; text-align: center;}
	.home-contact-bold {width:90%;}
	.panel-meet-team {padding:15px;}
	.panel-meet-team .blog-masthead {padding:20px 0!important;}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
	

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    header {padding:0!important; height: 50px!important; /*height: 70px!important;*/ background-color:#e8ecf2;}
	body {margin-bottom: 630px;}		
	
	.panelHeader { padding: 0 10px;}
	.panelHeaderMenu, .affix .panelHeaderMenu {top:8px!important;  /*top:28px!important;*/}
	.panelHeaderContact {top:5px!important; /*top:25px!important;*/}
	.panelHeaderLogo, .affix .panelHeaderLogo {padding-left: 10px; top:0!important; /*top:20px!important;*/}
	.panelHeaderLogo img {height:50px!important; width:auto!important;}	
	.panelHeaderContact {top:20px;}		
	
	.panelSlidersImage img {max-width: 70%; margin:auto;}
	.panelSliderPanel {animation:none;}
	.panelSliders { padding-top: 50px; margin-bottom: -50px; /*padding-top: 70px;  margin-bottom: -70px;*/}
	.panelSliders { padding-top: 50px; margin-bottom: -50px; /*padding-top: 70px;  margin-bottom: -70px;*/}
	.panelSlider {min-height: 100vh;}	
	.panelSlidersCaption {width:100%!important; left:inherit; text-align: center; padding: 0 5px; padding: 80px 20px 0 20px; bottom:25%; top:auto!important; background: none!important; position: relative; }	
	.sliderCaption-h1, .sliderCaption-h1 span, .blog-masthead h1, .blog-masthead h1 span {font-size:45px}			
	
	.panelSliderInner {height:200px; max-height: 200px;}
	.panelSliderInner .panelSlidersCaption {top: 30%!important; left:5%; bottom: auto!important; padding:0!important; width:50%!important; text-align: left; position: relative!important;}
	.panelSliderInner .panelSlidersCaption .sliderCaption-h1 {padding-top:30px;}
	.panelSliderInner .panelSlidersImage {right:0!important; width: 50%!important;}
	.panelSliderInner .panelSlidersImage img {width:100%!important; height: auto!important;}
	
	.sidebar-module ul {flex-direction: column;}
	.sidebar-module ul li {/*padding:15px 0;*/ width:100%; /*margin-bottom: 30px;*/ padding: 0 !important;}
	.sidebar-module ul li a {font-size:24px; /*text-align: center;*/}
	.sidebar-module ul a .menu-name {width:80%; border-bottom: 2px solid #c30021; /*margin: auto; text-align: center;*/}
	.sidebar-module ul a .menu-more {visibility: visible;}
	.sidebar-module ul a .menu-desc {visibility: visible; height:auto; animation: none!important;}
	.sidebar-module ul a .menu-img {visibility: visible; animation: none!important;}
	.sidebar-page .chevron-down {display:none; visibility: hidden; height: 0;}
	
	.blog-masthead-content-menu {float:none; width:100%; padding-bottom: 20px;}
	.blog-masthead-content-frm {float:none; width:100%; padding-bottom: 20px; text-align: left;}
	.frm-general { text-align: left;}
	/*.sidebar-page .page-icon {text-align:center;}*/
	.sidebar-page .page-icon img {height:80px!important;}
	/*.sidebar-page h1 {width:100%; text-align: center; padding-bottom: 0; margin: 0;}*/
	/*.sidebar-module ul {flex-direction: row;}*/
	.blog-masthead .home-projects-item-video iframe { min-height:400px;}
	.blog-masthead .home-projects-item-video {background:#fff; }
	.home-projects-item-video {background:#e8ecf2; }
	.home-projects-item-video iframe {position:relative; min-height:550px;}	
	.blog-masthead-content-menu {min-height:auto!important;}

	.page-content-txt {width:100%;}
	.page-content-img {width:100%; padding:20px 0;}
	.page-content {padding-top:0;}
	
	.contact-details {text-align:center;}
	.contact-details span {display:block;}
	.contact-details .divider {display:none; visibility: hidden; height:0;}
	
	.home-testimonials .carousel { margin: 0 0 40px 0;}
	.home-intro-main, .home-intro-main, .home-newsletter p, .home-testimonials p {width:100%!important;}	
	
	.blog-masthead {padding-top:80px; padding-bottom: 80px;}
	.blog-masthead h1:after {margin-bottom: 0;}
	.blog-sidebar {padding-top:60px;}
	
	.panel-team-txt {width:30%!important; margin: 0 9.5%!important; padding: 20px 0!important;}
	
	.modal-Generic .modal-content {top:0!important; height:auto!important; min-height: 90%;}
	
	footer {height: auto!important; padding: 20px 5%;} 
	.footer .flex-row {display:block!important;}
	.footer .flex-row div {text-align: center; padding: 10px 0!important;}
	.footer-txt-top {position:initial;}
	.footer-txt-bot {position:initial; padding: 40px 0 0 0;}
	.footer-txt-bot a, .footer-txt-bot a:active { padding-top: 20px; display: inline-block;}
	.footer .flex-row div img {margin-bottom: 20px; display: inline-block;}
	.footer-txt-bot-trad {display: block;}
	
	.box-red {}
	.box-red-txt {position: relative; transform: none; width:100%; padding-top: 20px;}
	.box-red .img-float {float:none; width:100%; padding: 0;}		
	
	.coronavirusUpdates {font-size:14px; padding: 0 0 1px 0;}
	
	.col-border-right {border:none!important; padding-bottom: 100px;}
	
	.panel-meeting-txt {padding:10%;}
	
	.cross-fade {min-height: 300px; margin:auto;}
	.cross-fade img {height:300px!important; width:auto!important; text-align: center; margin: auto; right:0;}
	.cross-fade-wrapper-img {width:100%;}
    .cross-fade-wrapper-txt {width: 100%; }
}

/* Other devices */
@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
	.panelSliderInner {max-height: 250px;}
	.panelSliderInner .panelSlidersImage img {height:250px;}
	.panelSliderInner .panelSlidersCaption {/*top:90px!important;*/ top:110px!important;}
}

@media (max-width: 1750px) { 	
	header {/*padding: 5px 50px;*/}
	body {font-size:24px;}
	.panelSlidersCaption {/*top: 35%;*/ width: 40%;}
	.sliderCaption-h1 {font-size:50px;}	
	.sliderCaption-h1 span {font-size:50px;}
	.sliderCaption-h2, .home-intro p, .blog-masthead h1, .blog-masthead h1 span {font-size:22px}
	.panelHeaderContact {top:15px;}
	
	.home-intro h1, .home-intro h1 span,
	.home-h2, .home-h2 span
		{font-size:50px;}
	
	.navWrapper {height: 68%}
	
	/*.home-form .hbspt-form #email-b12e30e2-c3b4-4e86-8915-aa01f52c3968, .home-form .hbspt-form #email-90dcee85-db07-49c4-908c-c813e0db0b03 {width:175px;} */	
}

@media (max-width: 1500px) { 
	body {font-size:20px;}
	.blog-masthead h1 {font-size:30px;}
	.blog-masthead h1 span {font-size:20px;}
	.sliderCaption-h2 {font-size:20px; padding-bottom: 5px;}
	.sidebar-page h1 {font-size:34px;}
	.home-intro p {font-size:20px;}
	.home-form .hbspt-form {font-size:20px;}
	
	/*.home-form .hbspt-form #email-b12e30e2-c3b4-4e86-8915-aa01f52c3968, .home-form .hbspt-form #email-90dcee85-db07-49c4-908c-c813e0db0b03 {width:145px;} */
}

/* Large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) { 	
	.navWrapper {width:90%;}
	.navWrapper img {height:80px; width:auto;}
	.nav-headline {font-size: 18px;}
	.nav-subheadline {font-size: 16px;}
	.nav-item a {padding-left:1rem!important; padding-right: 1rem!important;}
	.panelSlidersCaption {/*width:100%;*/ /*top:25%;*/}
	.panelSliderInner .panelSlidersCaption {width:35%; top:25%;}
	.divContact .panelSlidersCaption {width:100%!important; top:25%;}
	/*.blog-masthead h1, .blog-masthead h1 span { font-size: 50px;}*/
	.sliderCaption-h1 { font-size: 30px;}
	.sliderCaption-h1 span { font-size: 35px;}
	.sliderCaption-h2 { font-size: 18px;}
	.sidebar-page h1 {font-size:34px;}
	.sliderCaption-h1-stop {left:-5px;}
	.panelSlider {/*min-height: 100vh;*/}
	.footer-txt-top .d-flex .px-5 {  padding-left: 20px!important; padding-right: 20px!important;}
	
	.home-intro h1, .home-intro h1 span,	
		{font-size:40px; } 	
	
	.home-h2 {font-size:30px; padding-bottom: 20px;}
	.home-h2 span {font-size:35px;padding: 0 5px 30px 5px;}
	
	.home-intro-main, .home-newsletter p, /*.blog-masthead p*/ {width: 60%; margin: auto;}
	.home-testimonials p {width: 80%; margin: auto; margin-bottom: 1rem;}
	.team-name-band-description p {width: 100%!important;}
	
	.divContact .panelSliders {margin-bottom:0!important;}
	.divContact .panelSlider {height:850px;}
	.contact-details {text-align:left;}
	.contact-details span {display:block;}
	.contact-details .divider {display:none; visibility: hidden; height:0;}
	.divContact .home-form .hbspt-form .hs-input, .txt-input {background: none}
	.divContact .home-form .hbspt-form #message-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {width:90%;}
	
	.home-clients {padding-bottom: 0px;}	
	.home-clients .container {width: 80%; margin: auto;}
	.footer-txt-bot-trad { display: block; padding-bottom: 30px;}		
	
	.home-projects-item-overlay-txt {font-size:20px;}
	.home-projects-item-overlay-line1 {font-size:20px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
	/* For ipad portrait layouts only */
	.divContact .panelSlider {height:900px;}
	.frm-general {text-align: center;}
	
	.panelSliders {padding-top:40px!important; margin-bottom: 0!important;}
	.panelSlider {/*min-height: 670px!important;*/}
	.panelSlidersImageBackground img {height:auto!important;}
	.panelSlidersImage {flex:none!important; text-align: center; margin: auto;}
	.home-projects-item-video iframe {min-height: 430px!important;}
	.panelSliderInner .panelSlidersCaption .sliderCaption-h1 {padding-top: 70px!important;}
	.blog-masthead { padding-top: 20px; padding-bottom: 50px;}
}
	
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	header {padding: 5px 15px!important;}
	.panelHeaderContact a { padding: 0 5px 0 25px!important;}
	
	.divContact .panelSlider {height:auto;}
	.sliderCaption-h1, .sliderCaption-h1 span {padding-bottom:0; font-size:35px;}
	.divContact .panelSlidersCaption {width:40%;}
	.divContact .home-form .hbspt-form .hs-button, .btn-submit {padding:0 20px; margin-top:7px; font-size:20px;}
	.divContact .home-form .hbspt-form #message-b12e30e2-c3b4-4e86-8915-aa01f52c3968 {height:60px!important;}
	.divContact .contact-details { padding: 7px 0; text-align: left;}
	
	.panelSliderInner {max-height: 250px;}
	.panelSliderInner .panelSlidersImage img {height:250px;}
	.panelSliderInner .panelSlidersCaption {top:100px!important;}
}

@media (max-width: 600px) {
	.coronavirusUpdates-txt {display:none; visibility: hidden; height: 0;}
	.coronavirusUpdates-txt-resp {display:block; visibility: visible; height: auto;}    
}

@media (max-width: 1200px) { 
	.panelSlidersCaption {/*top: 20%;*/}
}

@media only screen and (max-width: 320px) {
	/* For iphone 5 */
	.nav-headline {font-size: 18px;}
	.nav-subheadline  {font-size: 16px;}

}
