#carouselAbout .carousel {margin: auto;}
#carouselAbout .carousel-inner {overflow: visible;}
#carouselAbout .carousel-item .mask {
    position: absolute;
    top: 0;
	left:0;
	height:100%;
    width: 100%;
    background-attachment: fixed;
}

#carouselAbout p {text-align: left; font-size: 20px; font-weight: 300; }
#carouselAbout a {text-decoration: none!important; font-size: 20px; color:#757a82; padding-left:5px; font-weight: 300;}
#carouselAbout a:hover {color:#000;}

#carouselAbout .carousel-item h2 {
	font-family: "Lato",Arial,Verdana,sans-serif;
	font-size: 60px;
	font-weight: 900;
	color: #000;
	line-height: 1;
	padding-bottom: 20px;
	-webkit-animation-name:fadeInLeft; 
	animation-name:fadeInLeft;
} 
#carouselAbout .carousel-item h2 span:first-child {
	font-family: 'Merriweather:ital', serif;
	font-size: 70px;
	font-weight: 200;
	color: #000;
	font-style: italic;
	letter-spacing: -3px;
}
#carouselAbout .carousel-item h2 .fullstop {
	font-family: 'Merriweather:ital', serif;
	font-weight: 600 !important;
	color: #9b1318 !important;
	font-style: normal !important;
	position: relative;
}

#carouselAbout .carousel-item p {-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 

#carouselAbout .slider-img {position: relative; display: grid; overflow: visible;}
#carouselAbout .slider-img img {width:100%; height: auto; border-radius: 20px; grid-row:1; grid-column:1;}
#carouselAbout .slider-img img:nth-child(1) {z-index: 2;}
#carouselAbout .slider-img img:nth-child(2) {z-index: 1;}

#carouselAbout .carousel-item .mask img:nth-child(1) {-webkit-animation:fadeInRight 3s linear 0s 1; animation:fadeInRight 3s linear 0s 1; display:block; height:auto; max-width:100%;}
#carouselAbout .carousel-item .mask img:nth-child(2) {-webkit-animation:fadeInRight 3s linear 0s 1, fading 10s linear 3.5s infinite; animation: fadeInRight 3s linear 0s 1, fading 10s linear 3.5s infinite; display:block; height:auto; max-width:100%;}
#carouselAbout .carousel-item .mask .slider-img {-webkit-animation: fade-in-br2 10s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s infinite; animation:fade-in-br2 10s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s infinite;}

#carouselAbout h2, #carouselAbout p, #carouselAbout a {-webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#carouselAbout .carousel-item .mask img:nth-child(1){-webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#carouselAbout .container {max-width: 1430px;  }
#carouselAbout .carousel-item {/*height:100%;*/ min-height:550px; }
#carouselAbout {position:relative; z-index:1; background:#e8ecf2; margin: 0; padding:50px 0 0 0; }

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    /*transition: -webkit-transform 30s ease;
    transition: transform 30s ease;
    transition: transform 30s ease,-webkit-transform 30s ease;*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	/*-webkit-transition-duration: 3s;
	transition-duration: 3s;*/
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
	opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
	opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}
/*
@supports (transform-style:preserve-3d) {
	.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
	}
}
*/
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

@-webkit-keyframes fade-in-br2 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);    
  }
  25% {
    -webkit-transform: translateX(5px) translateY(5px);
            transform: translateX(5px) translateY(5px);    
  }
  50% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);    
  }	
  75% {
    -webkit-transform: translateX(-5px) translateY(-5px);
            transform: translateX(-5px) translateY(-5px);    
  }	
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);    
  }	
}
@keyframes fade-in-br2 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);    
  }
  25% {
    -webkit-transform: translateX(5px) translateY(5px);
            transform: translateX(5px) translateY(5px);    
  }
  50% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);    
  }	
  75% {
    -webkit-transform: translateX(-5px) translateY(-5px);
            transform: translateX(-5px) translateY(-5px);    
  }	
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);    
  }	
}


@keyframes fading { 
  0% { opacity: 1 } 
  50% { opacity: 0.4 } 
  100% { opacity: 1 } 	
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

/**************************
RESPONSIVE
**************************/
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) { */
@media screen and (max-width: 480px) {
	#carouselAbout .carousel-item h2 {font-size:30px!important;}	
	#carouselAbout .carousel-item h2 span {font-size:33px!important;}	
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	#carouselAbout .carousel-item .mask {width:80%; height: 90%; right: 0; margin:auto;}
}