/**************************
POPUP
**************************/
.modal {position: fixed!important; top:0!important; left:0!important; width: 100%!important; height:100%!important; background-color: rgba(219,219,219,0.80)!important; z-index: 10000!important;}

#modal-popups .modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
#modal-popups .modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1); transform: translate(100%,0)scale(1);}
#modal-popups .modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
#modal-popups .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
#modal-popups .modal-dialog-slideout .modal-content{border: 0;}
#modal-popups {overflow: initial;}

#modal-popups .modal-open { padding-right:0!important; overflow: auto!important;}

.modal-centre {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.modal-bottom-right {position: absolute; left:auto; right:0; top:auto; bottom:20px; padding-right:0!important;}
.modal-bottom-left {position: absolute; left:0; right:auto; top:auto; bottom:20px; padding-right:0!important;}
.modal-top-right {position: absolute; left:auto; right:0; top:250px; bottom:auto; padding-right:0!important;}
.modal-top-left {position: absolute; left:0; right:auto; top:250px; bottom:auto; padding-right:0!important;}

#modal-popups .modal.fade .modal-dialog.modal-dialog-slideout-right {-webkit-transform: translate(100%,0)scale(1); transform: translate(100%,0)scale(1);}
#modal-popups .modal.fade .modal-dialog.modal-dialog-slideout-left {-webkit-transform: translate(-100%,0)scale(1); transform: translate(-100%,0)scale(1);}

#modal-popups {border: none; /*height:auto!important; width: auto!important;*/
	-webkit-box-shadow: -9px 9px 17px 0px rgba(153,153,153,0.75);
-moz-box-shadow: -9px 9px 17px 0px rgba(153,153,153,0.75);
box-shadow: -9px 9px 17px 0px rgba(153,153,153,0.75);
}
#modal-popups .modal-content { border-radius: 0; width:100%;}

#modal-popups .modal-btn {padding: 0; position: absolute; top: -15px; right: -5px; z-index: 100;}
#modal-popups .modal-body {padding-bottom:10px; background: #C30021; height:310px; width:500px;}

#modal-popups .popup-content {width:100%; background: #C30021;}
.popup-content-left {float:left; width:30%;}
.popup-content-left img {width:100%!important; height:auto!important;}
.popup-content-right {float:left; width:70%; padding-left:20px;}
.popup-content-right h2 {font-size:20px; font-weight: 600; color: #ff6903;}
.popup-content-right p {font-size:14px; font-weight: 600; color: #515151;}

.modal-bottom-right .popups-txt, .modal-top-right .popups-txt {float:right;}
.modal-bottom-right .popups-img, .modal-top-right .popups-img {float:left; left: -35%; right:auto; padding-left: 0;}
.modal-bottom-right .popups-txt-bubble, .modal-top-right .popups-txt-bubble { -webkit-transform: scaleX(-1); transform: scaleX(-1);}
.modal-bottom-right .popups-txt-bubble h2, .modal-top-right .popups-txt-bubble h2 {-webkit-transform: scaleX(-1); transform: scaleX(-1); padding: 0 15% 0 32%; top:25%;}
.modal-bottom-right .popups-cta, .modal-top-right .popups-cta { padding: 20px 9% 20px 0; text-align: right;}
.modal-bottom-right .modal-btn, .modal-top-right .modal-btn {left: -20px; right:auto;}

.popups-txt {float:left; width:350px;; height:200px;}
.popups-img {height: 330px; position: absolute; right: -30%; bottom: 0; float: right; padding-left: 70%;}
.popups-img img {height:330px;}
.popups-txt {height:200px; padding-top: 10px; margin-left:3%;}

.popups-txt-bubble {height:200px;
	background-image: url('../../images/site/speech bubble.png');
    background-repeat: no-repeat;
    background-position: center;	
}

.popups-txt-bubble h2 {font-weight: 300; font-size:28px; text-align: center; position: relative; top: 50%; padding: 0 35% 0 20%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
}


.popups-cta {width:100%; padding: 20px 0 20px 9%; text-align: left; display: inline-block;}
.popups-cta a {position: relative; z-index: 1000; text-decoration: none!important;
	width: auto;
	background: #C30021 !important;
	color: #fff !important;
	font-size: 14px !important;
	font-weight: 600 !important;
	text-transform: uppercase !important;
	padding: 5px 12px;
	display: inline-block;
	text-align: center;
	border: 1px solid #fff !important;
}
.popups-cta a:hover {color:#C30021!important; background: #fff!important; border: 1px solid #fff !important;} 

/**************************
RESPONSIVE
**************************/
@media screen and (max-width: 480px) {	
	#modal-popups .modal-inner {width:100%!important; top: 80px; transform: none!important; left:auto!important; bottom:auto!important;}
	#modal-popups .modal-body {width:100%;}
	.popups-txt {width:125px; height:100px;}
	.popups-txt-bubble {transform: none!important;}
	.popups-txt-bubble h2 {transform: none!important; padding: 0 30% 0 10%!important; top:20%!important;}
	.popups-img {height: 180px!important; padding-left:0!important;right: -7%!important; float: none!important; left:auto!important;}
	.popups-img img {height:180px;}
	.popups-txt {width:100%; }
	#modal-popups .popups-cta {padding: 20px 0 20px 5%; width:55%;}
	.popups-txt-bubble {}
	#modal-popups .modal-btn {top:0!important; right:0!important; left:auto!important;}

}
