/* CSS Document */
/* Modal */
.modal-Generic {background-color: rgba(0, 0, 0, 0.4)}
.modal-Generic .container {max-width:100%;}
.modal-Generic .modal-dialog {max-width:60%;}
.modal-Generic .modal-header {background-color: #fff; display:block;}
.modal-Generic .modal-content {background-color: transparent !important; border:none!important; position: absolute; text-align: center; background-image: url("../../images/site/bg-shape-popup.png"); background-repeat: no-repeat; background-size: 100% 100%; height:100%;}
.modal-Generic .modal-body {background:none;}
.modal-Generic .modal-body {padding: 0px; /*height: 100%;*/}

.modal-Generic .modal-btn {position: relative; top:40px; right: 80px; z-index: 3; text-align: right;}
.modal-Generic .modal-content p {width:90%; margin: auto;}

.modal-Generic .home-form img {max-height:100px;}

/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 991px) {		
	.modal-Generic .modal-dialog {max-width:80%;}	
	.modal-Generic .modal-btn {}	
}

@media screen and (max-width: 480px) {		
	.modal-Generic {padding-right:0!important;}
	.modal-Generic .modal-dialog {max-width:100%!important;}	
	.modal-Generic .modal-header-content-p {display: none!important; visibility: hidden!important; height: 0!important;}	
	.modal-Generic .modal-btn {top: -204px; right: -15px;}		
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */	
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1500px) {		
	.modal-Generic .modal-dialog {max-width:95%;}	
}