﻿<div class="moonray-form-element-wrapper moonray-form-element-wrapper-alignment-left moonray-form-input-type-text"><label for="mr-field-element-304531873398" class="moonray-form-label">Subsequent sales are worth ($)</label><input name="f1683" type="text" class="moonray-form-input" pattern="[0-9]*?\.?[0-9]*?" id="mr-field-element-304531873398" value="" placeholder/></div>
<div class="moonray-form-element-wrapper moonray-form-element-wrapper-alignment-left moonray-form-input-type-text"><label for="mr-field-element-182534526752" class="moonray-form-label">Additional business from direct referrals is worth ($)</label><input name="f1684" type="text" class="moonray-form-input" pattern="[0-9]*?\.?[0-9]*?" id="mr-field-element-182534526752" value="" placeholder/></div><div class="moonray-form-element-wrapper moonray-form-element-wrapper-alignment-left moonray-form-input-type-text"><label for="mr-field-element-304531873398" class="moonray-form-label">Subsequent sales are worth ($)</label><input name="f1683" type="text" class="moonray-form-input" pattern="[0-9]*?\.?[0-9]*?" id="mr-field-element-304531873398" value="" placeholder/></div>
<div class="moonray-form-element-wrapper moonray-form-element-wrapper-alignment-left moonray-form-input-type-text"><label for="mr-field-element-182534526752" class="moonray-form-label">Additional business from direct referrals is worth ($)</label><input name="f1684" type="text" class="moonray-form-input" pattern="[0-9]*?\.?[0-9]*?" id="mr-field-element-182534526752" value="" placeholder/></div>submitted-messagesubmitted-message.moonray-form {width: 80%; max-width: 80%!important;  margin: auto; padding:20px 0;}
.moonray-form-element-wrapper {border-radius: 40px; background-color: #e8ecf2; margin: 20px 0; padding: 20px 20px 20px 20px!important; float:none!important; position:inherit!important;}
.moonray-form-input {width: 100%; text-align: right!important; font-size: 18px!important; font-weight: 300!important; background: #fff!important; color: #000!important; padding: 7px 10px!important; border: none!important; border-radius: 3px!important;}
.moonray-form select { text-align: center!important;}
.moonray-form-input-hidden { display: none!important;}
.opf-error__icon { top: inherit!important; pointer-events: none;}
.opf-error__icon img { position: relative; top: -3px;}

.divRangeScale {padding-top: 0px; height:0;}
.divRangeLeft {height:0;}
.divRangeRight {height:0;}
.divRangeCentre {height:0;}

.moonray-form-label {font-size: 18px!important; color: #9A9A9A!important; font-weight: 300!important; margin-left: 60px!important; /*min-height:60px;*/ padding-right: 60px !important; position: relative!important;}
.moonray-form-label::before { color: #dbdbdb; background: #fff; font-weight: 600; border-radius: 50%; font-size: 18px; padding: 10px 15px; margin-right: 15px; position: absolute; left: -55px; top:-10px;}
.moonray-form-element-wrapper:first-child > .moonray-form-label::before {content: "1"; }
.moonray-form-element-wrapper:nth-child(2) > .moonray-form-label::before {content: "2";}
.moonray-form-element-wrapper:nth-child(3) > .moonray-form-label::before {content: "3";}
.moonray-form-element-wrapper:nth-child(4) > .moonray-form-label::before {content: "4";}
.moonray-form-element-wrapper:nth-child(5) > .moonray-form-label::before {content: "5";}
.moonray-form-element-wrapper:nth-child(6) > .moonray-form-label::before {content: "6";}
.moonray-form-element-wrapper:nth-child(7) > .moonray-form-label::before {content: "7";}
.moonray-form-element-wrapper:nth-child(8) > .moonray-form-label::before {content: "8";}
.moonray-form-element-wrapper:nth-child(9) > .moonray-form-label::before {content: "9";}

.moonray-form-element-wrapper:nth-child(2) > .moonray-form-input::before {content: "$"}
.moonray-form-element-wrapper:first-child > .moonray-form-label {float:none!important; max-width: 100%!important;  }
.moonray-form-element-wrapper:first-child > .moonray-form-input {float:none; max-width:100%!important; position: inherit!important; top:inherit!important; margin-bottom: inherit!important; text-align: left!important; margin-bottom: 0!important;}
.moonray-form-element-wrapper:nth-child(4)
.moonray-form-element-wrapper-show {display:block!important; visibility: visible!important; height: auto!important;}

#mr-field-element-823534451296, #mr-field-element-958807409023, #mr-field-element-282573707829, #mr-field-element-720365395892, #mr-field-element-188572236905 {display: none!important;}

.moonray-form-element-wrapper:nth-child(1) span, 
.moonray-form-element-wrapper:nth-child(3) span,
.moonray-form-element-wrapper:nth-child(4) span,
.moonray-form-element-wrapper:nth-child(5) span,
.moonray-form-element-wrapper:nth-child(6) span,
.moonray-form-element-wrapper:nth-child(7) span,
.moonray-form-element-wrapper:nth-child(8) span,
.moonray-form-element-wrapper:nth-child(9) span
	{display:none!important; visibility: hidden!important; height: 0!important; width:0!important;} /* First name */

.moonray-form-element-wrapper legend {display: none; visibility: hidden; height: 0; color:#fff;}
.hs-form-field-active > legend, .hs-form-field-answered > legend {display: block; visibility: visible; height: auto;}
.hs-form-field-active > #mr-field-element-146145460785, .hs-form-field-answered > #mr-field-element-146145460785, 
.hs-form-field-active > #mr-field-element-598594053174, .hs-form-field-answered > #mr-field-element-598594053174 
	{top:-60px!important; margin-bottom: -60px!important;}

.hs-form-field-active {padding:30px 20px 20px 20px!important;}
.hs-form-field-answered {/*padding:20px!important;*/ padding: 30px 20px 20px 20px !important;}
.hs-form-field-active > label {font-size:18px; color:#fff!important; font-weight: 400!important; padding-top:0px!important;}
.hs-form-field-answered > label {font-size:18px; color:#fff!important; font-weight: 400!important;}
.hs-form-field-active > label, .hs-form-field-answered > label {float:left!important; max-width: 78%!important; display: inline-block;}
.hs-form-field-active > .moonray-form-label::before {top:-9px!important;}
.hs-form-field-answered > .moonray-form-label::before {top:-9px!important;}
.hs-form-field-active > .moonray-form-input, .hs-form-field-answered > .moonray-form-input { margin-top: 20px!important; float:right!important; max-width:12%!important; position: relative;  top: -20px; margin-bottom: -20px; display: block!important;}
.hs-form-field-active > .divRange .divRangeScale, .hs-form-field-active > .divRange .divRangeLeft, .hs-form-field-active > .divRange .divRangeRight, .hs-form-field-active > .divRange .divRangeCentre  {height:auto!important;}
.hs-form-field-active > .divRange, .hs-form-field-answered > .divRange {margin-top:45px!important;}
.hs-form-field-answered > label {color:#E4E4E4!important;}
.hs-form-field-answered > .divRange .divRangeScale, .hs-form-field-answered > .divRange .divRangeLeft, .hs-form-field-answered > .divRange .divRangeRight, .hs-form-field-answered > .divRange .divRangeCentre {height:auto!important;}

/* Contact Details */
.moonray-form-element-wrapper:nth-child(11),  /* New Customer Value */
.moonray-form-element-wrapper:nth-child(12),  /* New Customer Value - Display Only */
.moonray-form-element-wrapper:nth-child(13), /* First name */
.moonray-form-element-wrapper:nth-child(14), /* Email */
.moonray-form-element-wrapper:nth-child(15), /* Country */
.moonray-form-element-wrapper:nth-child(16), /* State */
.moonray-form-element-wrapper:nth-child(17), /* Submit Button */
.moonray-form-element-wrapper:nth-child(18), /* Disclaimer text */
.moonray-form-element-wrapper:nth-child(19), /* Subsequent sales are worth ($) */
.moonray-form-element-wrapper:nth-child(20) /* Additional business from direct referrals is worth ($) */
	{display:none; visibility: hidden; height: 0;}

.moonray-form-element-wrapper-show:nth-child(12),  /* New Customer Value */
.moonray-form-element-wrapper-show:nth-child(13), /* First name */
.moonray-form-element-wrapper-show:nth-child(14), /* Email */
.moonray-form-element-wrapper-show:nth-child(15), /* Country */
.moonray-form-element-wrapper-show:nth-child(16), /* State */
.moonray-form-element-wrapper-show:nth-child(17), /* Submit Button */
.moonray-form-element-wrapper-show:nth-child(18) /* Disclaimer text */
	{display:block!important; visibility: visible!important; height: auto!important; padding: 10px 20px!important; margin:0!important; top:inherit!important;}

/* New Customer Value - Display Only */
.moonray-form-element-wrapper-show:nth-child(12) {background: #fff!important; padding:40px 0 0 0!important; border-radius: 0!important; display: block!important; visibility: visible!important; height: auto!important;}
.moonray-form-element-wrapper-show:nth-child(12) label { color: #c30021!important; font-weight: 600!important; font-size: 22px!important; line-height: 110%!important; padding: 40px 0!important; margin-left:0!important;}
.moonray-form-element-wrapper-show:nth-child(12) input {display: block!important; visibility: visible!important; height: auto!important; float:none!important; position: inherit!important; top:inherit!important; max-height: none;
	width:100%!important;
	text-align: center!important;;
    background: #fff!important;
    color: #808080!important;;
    padding: 7px 10px!important;        
    font-size: 40px!important;
    border: 3px dashed #c0c0c0!important;
    border-radius: 40px!important;
	margin-bottom: 40px!important;
	font-weight: 600!important;
}

.moonray-form-element-wrapper-show:nth-child(12) /* New Customer Value - Display Only */
	{background: #fff!important;border-radius: 0!important; padding:0!important;}

.moonray-form-element-wrapper-show:nth-child(18) /* Disclaimer text */
	{background: #c30021!important;border-radius: 0!important;}

.moonray-form-element-wrapper-show:nth-child(13), /* First name */
.moonray-form-element-wrapper-show:nth-child(14), /* Email */
.moonray-form-element-wrapper-show:nth-child(15), /* Country */
.moonray-form-element-wrapper-show:nth-child(16) /* State */
	{background: #c30021!important;border-radius: 0!important; float:left!important; width:50%!important;}
	
.moonray-form-element-wrapper-show:nth-child(13) label, /* First name */
.moonray-form-element-wrapper-show:nth-child(14) label, /* Email */
.moonray-form-element-wrapper-show:nth-child(15) label, /* Country */
.moonray-form-element-wrapper-show:nth-child(16) label, /* State */
.moonray-form-element-wrapper-show:nth-child(17) label /* Submit Button */
	{display: none!important;}

.moonray-form-element-wrapper:nth-child(13) .moonray-form-input, /* First name */
.moonray-form-element-wrapper:nth-child(14) .moonray-form-input, /* Email */
.moonray-form-element-wrapper:nth-child(15) .moonray-form-input, /* Country */
.moonray-form-element-wrapper:nth-child(16) .moonray-form-input, /* State */
.moonray-form-element-wrapper-show:nth-child(17) .moonray-form-input /* Submit Button */
	{max-width: 100%!important; text-align: left!important; margin-top:0!important; margin-bottom: 0!important;}

.moonray-form-element-wrapper-show:nth-child(13) .moonray-form-input, /* First name */
.moonray-form-element-wrapper-show:nth-child(14) .moonray-form-input, /* Email */
.moonray-form-element-wrapper-show:nth-child(15) .moonray-form-input, /* Country */
.moonray-form-element-wrapper-show:nth-child(16) .moonray-form-input, /* State */
.moonray-form-element-wrapper-show:nth-child(17) .moonray-form-input /* Submit Button */
	{display: block!important;}

.moonray-form-element-wrapper-show:nth-child(13) > .moonray-form-input, /* First name */
.moonray-form-element-wrapper-show:nth-child(14) > .moonray-form-input, /* Email */
.moonray-form-element-wrapper-show:nth-child(15) > .moonray-form-input, /* Country */
.moonray-form-element-wrapper-show:nth-child(16) > .moonray-form-input, /* State */
.moonray-form-element-wrapper-show:nth-child(17) > .moonray-form-input /* Submit Button */
	{top:inherit!important;}

.moonray-form-element-wrapper-show:nth-child(13) > .moonray-form-input::placeholder, /* First name */
.moonray-form-element-wrapper-show:nth-child(14) > .moonray-form-input::placeholder, /* Email */
.moonray-form-element-wrapper-show:nth-child(15) > .moonray-form-input::placeholder, /* Country */
.moonray-form-element-wrapper-show:nth-child(16) > .moonray-form-input::placeholder /* State */
	{ font-size:18px!important;}

/* Submit Button */
.moonray-form-element-wrapper-show:nth-child(17) {background: #c30021!important;border-radius: 0!important; float:none!important; text-align: center; margin-bottom: 0!important;}
.moonray-form-element-wrapper-show:nth-child(17) .moonray-form-input { color: #fff!important; background: #00b7ff!important; border: 1px solid #00b7ff!important; font-size:18px!important; padding:10px 20px!important; float: none !important;}
.moonray-form-element-wrapper-show:nth-child(17) .moonray-form-input:hover {color: #00b7ff!important; background: #fff!important;}

.div_contact_disclaimer {background: #c30021!important; text-align: center;}
.moonray-form-element-wrapper-show:nth-child(15) .opf-error__icon img { left: -15px;}

.submitted-message p {text-align:center;}

.juiAccordion {overflow: hidden;}
.juiAccordion h3 {font-family: "Lato",Arial,Verdana,sans-serif!important; /*float:none!important;*/ display: inline-block!important;} 
.juiAccordion .ui-icon, .ui-widget-content .iconClosed {
	background-image: url('../../images/site/down-arrow.png')!important; 
	background-size: cover!important;
	vertical-align: top!important;
	height: 20px!important;
	width: 20px!important;
	margin-top: 0!important;
	position: relative!important;
	bottom: 0px!important;
	margin-left: 10px!important;
}
.juiAccordion .ui-accordion-header {clear:both!important; overflow: hidden!important;}

.juiAccordion .ui-accordion-content {
	font-family: "Lato",Arial,Verdana,sans-serif!important;
    border: none !important;
    padding: 10px 0 0 10px!important;
    margin: 0 10px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    width: 100%!important;
}

/**************************
RESPONSIVE
**************************/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {	
	.juiAccordion h3 {padding-left: 0!important;	padding-right: 0!important; font-size: 20px!important;}
	.juiAccordion .ui-accordion-header {overflow: visible!important; }
	.juiAccordion .ui-accordion-content {padding-left:0!important; margin-left:0!important;}
	.hs-form-field-active > label, .hs-form-field-answered > label {max-width:inherit!important;} 
	.hs-form-field-active > .moonray-form-input, .hs-form-field-answered > .moonray-form-input {max-width:80%!important;}
	.hs-form-field-active > legend, .hs-form-field-answered > legend {right: -40px!important; top:3px!important; left:auto!important; position: relative!important;}
	
	.moonray-form-p2c220110f3 .moonray-form-label {font-size: 16px!important;}
	.hs-form-field-active > .divRange, .hs-form-field-answered > .divRange {padding-top: 65px!important; padding-left:20px!important;}
	.moonray-form-element-wrapper-show:nth-child(12) input {font-size:20px!important;}
	
	.moonray-form-element-wrapper-show:nth-child(13), .moonray-form-element-wrapper-show:nth-child(14), .moonray-form-element-wrapper-show:nth-child(15), .moonray-form-element-wrapper-show:nth-child(16) {width:100%!important;}
	.moonray-form-element-wrapper-show:nth-child(17) {padding:10px 0!important;}
	.moonray-form-element-wrapper-show:nth-child(17) .moonray-form-input {font-size:14px!important; padding:10px 5px!important;}
	.moonray-form-element-wrapper-show:nth-child(18) {margin-bottom: 20px!important;}
	.div_contact_disclaimer {padding:0 10px 20px 10px!important;}
	.opf-error__icon {top:auto!important;}
	
	.hs-form-field-active > #mr-field-element-146145460785, .hs-form-field-answered > #mr-field-element-146145460785, .hs-form-field-active > #mr-field-element-598594053174, .hs-form-field-answered > #mr-field-element-598594053174 {top: -55px!important; margin-bottom: -55px!important;}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.hs-form-field-active > legend, .hs-form-field-answered > legend {position: relative; left:-15px; top:3px;}
}

@media (max-width: 768px) {	
	.hs-form-field-active > legend, .hs-form-field-answered > legend {position: relative; left:-35px; top:13px;}
	.hs-form-field-active > .moonray-form-input, .hs-form-field-answered > .moonray-form-input {max-width: 88%!important;}
	.1hs-form-field-active > #mr-field-element-146145460785, .hs-form-field-answered > #mr-field-element-146145460785, .hs-form-field-active > #mr-field-element-598594053174, .hs-form-field-answered > #mr-field-element-598594053174 {top:auto!important; margin-bottom: auto!important;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
	/* For ipad portrait layouts only */
	.hs-form-field-active > legend, .hs-form-field-answered > legend {position: relative; left:-35px; top:13px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */    
}

