﻿/*
Custom
*/
#divCalculator {padding: 80px 0 40px 0;}
#divCalculator a {text-decoration: none!important;}
.divCalculator-h2 {color: #c30021; font-weight: 600; font-size: 24px; padding-left:10px; padding-top: 20px; text-align: center;} 
.page-content-cta {padding-top:15px;}
#divCalculatorText ul li::before {position: absolute; margin-left: -20px; margin-top:9px; left:auto;}
#divCalculatorText a {text-decoration: none!important;}
.btnDivCalculator {display:inline-block; text-align: center;}
.btnDivCalculator img {padding-top: 10px; animation: bouncingImg 4s infinite ease-in-out; position: relative; bottom:0;}
#divCalculatorText h1 { color: #C30021; font-weight: 600; font-size: 24px; line-height: 150%; padding: 5px 0 5px 0;}
#divCalculatorText h1:after {display:none; visibility: hidden; height:0;}
#divCalculatorText h2 {font-size: 40px; text-align: center;}
@keyframes bouncingImg {
    0% {bottom:0;}
    50% {bottom:-15px;}
    100% {bottom:0;}
}

.hbspt-form {width: 80%; margin:auto;}
.hbspt-form .hs-form-field {border-radius: 40px; background-color: #e8ecf2 /*#dbdbdb;*/}

.hbspt-form .field {width: 100%; display:block; overflow: hidden; clear:both; margin: 20px 0; padding: 10px 20px; /*display:none;*/}
.hbspt-form label {width:100%; float:left; position: relative;}
.hbspt-form label span {font-size:18px; color:#9A9A9A; font-weight: 300; display: inline-block; padding-left: 0px; position: absolute; padding-top: 7px;}
.hbspt-form legend {width:5%!important; float:left; position: relative; bottom: -6px; text-align: right; /*padding-right: 10px;*/ font-size: 22px; color:#fff; font-weight: 600; display:none!important; }
.hbspt-form .input {width:0; float:right; padding: 0;}
.hbspt-form input {width:100%; text-align: right; font-size:18px; font-weight: 300; background: #fff; color:#000; padding:7px 10px; border:none; border-radius: 3px; display:none;}
.hbspt-form ul {display:none;} 
.hbspt-form input:focus {outline: none!important;}
.hbspt-form .hs_product_or_service_offering input {padding:7px 15px;}
	
.hs-form-field-answered {background-color: #e18383!important;  padding: 40px 20px 20px 20px!important;}
.hs-form-field-answered > label span {color:#E4E4E4!important;}

.hs-form-field-active {background-color: #c30021 !important; padding: 40px 20px 20px 20px!important;}
.hs-form-field-active > label, .hs-form-field-answered > label {width:78%!important;  display:inline-block;}
.hs-form-field-active > label span, .hs-form-field-answered > label span {font-size:18px; color:#fff!important; font-weight: 400;}
.hs-form-field-active > label::before {color:#c30021!important;}
.hs-form-field-active > .input, .hs-form-field-answered > .input {width:12%; margin-right: 20px; position: relative;}
.hs-form-field-active > #product_or_service_offering-e4cdbbe0-8f53-4648-bf14-510e43599715, .hs-form-field-answered > #product_or_service_offering-e4cdbbe0-8f53-4648-bf14-510e43599715 {width:100%!important;}
.hs-form-field-active > .input input, .hs-form-field-answered > .input input {display: block!important;}
.hs-form-field-active > legend, .hs-form-field-answered > legend {display: block!important;}
.hs-form-field-active:before, .hs-form-field-answered:before {display: block!important;}
.hs-form-field-active > .divRange, .hs-form-field-answered > .divRange {visibility: visible!important;}
.hs-form-field-active > .input ul, .hs-form-field-answered > .input ul {display: flex!important; margin: auto; padding:0; text-align: center; width:50%; align-items: center;}
.hs-form-field-active > .btnNext {display: inline-block!important;}
.hs-form-field-answered > label span {color:#E4E4E4!important;}

.hbspt-form label::before {color:#dbdbdb; background:#fff; font-weight: 600;border-radius: 50%; font-size: 18px; padding: 10px 15px; margin-right: 15px;}
.hs_product_or_service_offering label::before {content: "1"; }
.hs-average_sale_for_new_customer label::before {content: "2";}
.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc label::before {content: "3";}
.hs-customer_purchase_average label::before {content: "4";}
.hs-customer_lifetime label::before {content: "6";}
.hs-purchase_value_average label::before {content: "5";}
.hs-customer_refer_rate label::before {content: "7";}
.hs-customer_referrals label::before {content: "8";}
.hs-referral_new_customer  label::before {content: "9";}

.hs_product_or_service_offering label, .hs_product_or_service_offering div {width:100%!important; padding-bottom: 15px;}
.hs_product_or_service_offering .input {margin-right: 0!important; position:inherit!important; float:none!important;}
.hs_product_or_service_offering div input {border:none; text-align: left;}

.hs-average_sale_for_new_customer {display:block!important;}

.hs_customer_purchase_average label {width:100%!important; padding-bottom: 15px;}
.hs_customer_referrals label {width:100%!important; padding-bottom: 15px;}

.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc label {width:100%!important; padding-bottom: 15px;}
.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input {width:100%;}
.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input label::before {content:""; display: none!important;}
/*.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input input {width:auto!important; transform: scale(2);}*/
.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input label span {color:#fff; font-weight: 600;}
.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input ul li {width: 50%; padding-bottom:0!important; margin-bottom: 0!important;}
.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input ul li label {padding-bottom:0!important; margin-bottom: 0!important;}
.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input ul li label input {display: inline !important;}
.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input ul li label span {padding-left:20px;}
.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input ul li label input { }
.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input ul li::before {content:""; display: none!important;}

/* Radio button */
input[name="after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc"] { width:0!important;transform: scale(2);}
input[name="after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc"]:before {
	content: "";	
	display: inline-block;
	width: 15px;
	height: 15px;
	padding: 3px;
	margin-right: 5px;
	position: relative;
	left: -10px;
	top: -3px;	
	background-clip: content-box;	
	background-color: #fff;
	border-radius: 50%;
}
input[name="after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc"]:checked:before { background-color: #d84d4d; /*#00c6f4*/;}

.hs_lead_conversion_rate:before {content: "%"; display: inline-block; position: absolute; right: 120px; padding-top: 5px; font-size: 22px; font-weight: 600; color:#fff; display:none; }

#divCalculator .blog-masthead ul li::before {content: ""!important;}

.hs-error-msg {color: #c30021; font-size: 16px; font-weight: 300; margin-bottom: 0; text-align: right; width: 100%!important;}

.div_customer_worth {margin-top:70px;}
.div_customer_worth, .div_contact, .div_contact_submit, #divCalculator .div_contact_hdr {visibility: hidden; display:none; height:0;}
.div_contact_submit {text-align: center;}
.txt_customer_worth {padding:20px 0;}
.show {visibility: visible!important; display:block!important; height:auto!important;}
.show > .hs-form-field .input .hs-input {display: block;}
.show > .hs-form-field .input select {width:100%; padding: 8px 10px; font-size:18px; font-weight: 200; color:#9A9A9A; border-radius: 3px; border:none; background: #fff;}
.show > .hs-submit .actions .hs-button {display: block;}
.txt_customer_worth input {width: 80%; margin: auto;}	
.hbspt-form .hs_customer_worth #customer_worth-e4cdbbe0-8f53-4648-bf14-510e43599715 {display: none!important; height: 0!important;}

.hbspt-form .hs_customer_worth {background-color:#fff!important; position: relative; z-index: 20; border-radius: 0;}
.hbspt-form .hs_customer_worth label {/*display:none; visibility: hidden; height: 0; width:0;*/ float:left; width:80%; font-weight: 600;}
.hbspt-form .hs_customer_worth .input {width:80%; float:none; margin: auto;}
.hbspt-form .hs_customer_worth input {width:100%; border: none; font-weight: 600; text-align: center; background: #fff!important; color:#808080; padding:10px 15px!important; border:none; border-radius: 0; display: block!important; font-size:40px; border: 3px dashed #c0c0c0; border-radius: 40px;}
.hbspt-form .hs_customer_worth legend {color:#c30021; font-weight: 600;}
.hbspt-form .div_customer_worth .field {padding-right:0; background: #fff; padding: 0; margin: 0;}
.div_customer_worth h2 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:50px; font-weight: 900;text-align: center; padding-bottom: 20px;}
.div_customer_worth h2 span {font-family: 'Merriweather:ital', serif, "Adobe Blank"; font-size:60px; font-weight: 200; font-style: italic; letter-spacing:-3px;}
.div_customer_worth h2:after {
    content: "";
    display: block;
    height: 41px;
    background-image: url('../../images/site/swirlyline-grey.png');
    background-repeat: no-repeat;
    background-position: center bottom;
	margin-top: 0px;
	margin-bottom: 0px;
}
.div_customer_worth .div_contact_txt .hs-form-field {background:#fff!important;}

.div_calculate { text-align: center;}
.div_calculate a { font-size:22px; font-weight: 600; text-transform: uppercase; color:#fff!important; background:#c30021; border:1px solid #c30021; display: inline-block; width:100%; text-align: center; padding: 20px 0; border-radius: 40px; /*display:none;*/}
.div_calculate a:hover {background:#fff!important; color:#c30021!important;}

.div_contact_txt {width:100%; clear:both; padding: 0; margin-top: 20px;}
.div_contact_txt p, .div_contact_txt label {width:100%; font-size:18px; font-weight: 400; margin: 7px 0;}
.div_contact_txt .input { text-align: center!important; background:#c30021; border:1px solid #c30021;}
.div_contact_txt .input a {text-transform: uppercase; font-size:18px; text-align: center!important; color:#fff; display: block!important; padding: 10px 0; font-weight: 400;}
.div_contact_txt .input:hover {background:#fff!important;}
.div_contact_txt .input:hover > a {color:#c30021!important;}

.div_contact {background:#c30021; padding:0 30px!important; width:50%; float:left;}
.div_contact:focus {outline:none!important;}
.div_contact .hs-form-field-active > legend {display:none!important;}
.div_contact .hs-form-field {background: #c30021!important; border-radius: 0!important;}
.div_contact_submit{background:#c30021; width:100%; padding-bottom: 20px;}
#divCalculator .div_contact_hdr {width:100%; margin-top: 0px; background:#c30021;}
#divCalculator .div_contact_hdr {width:100%; margin-top: 0px; background:#c30021; padding:20px 10px 0 10px;}
#divCalculator .div_contact_hdr:first-child {margin-top:0px; width: 100%;} 
#divCalculator .div_contact_hdr h4 {background:#c30021; padding: 0px 10px 10px 10px; color:#fff; text-transform: none; font-weight:400; margin-bottom: 0; text-align: center;}
.div_contact_state {width:100%;}
.div_contact label {width: 100%; margin-bottom: 0; display: none;}
.div_contact .field {margin:0; width:100%; padding:10px 0!important;}
.div_contact .input {width: 100%; margin-right: 0!important; background:#c30021;}
.div_contact input {background:#fff; border:none; text-align: left;}
.div_contact_submit .hs-button {background:#00b7ff; text-transform: uppercase; font-size:18px; font-weight: 600; text-align: center!important; color:#fff; padding: 10px 20px; margin: 20px 0px 20px 20px; width: auto; border-radius: 0; display:inline-block!important; border:1px solid #00b7ff;}
.div_contact_submit .hs-button:hover { background:#fff; color:#00b7ff; /*background:rgba(0,0,0,0.8); 
	-webkit-box-shadow: -1px -1px 32px 5px rgba(231,166,26,0.7);
-moz-box-shadow: -1px -1px 32px 5px rgba(231,166,26,0.7);
box-shadow: -1px -1px 32px 5px rgba(231,166,26,0.7);*/
}
.div_contact_state .input {width:50%; float:left;}
#divCalculator .div_contact_hdr h3 {margin-bottom:0; padding-left: 20; padding: 20px 20px 5px 20px; color: #fff; font-weight: 5000; font-size: 24px; text-transform: uppercase; text-align: center;}
.lead_value {font-weight:600;}
.div_contact .hs-error-msg {text-align: left;}
.div_contact .hs_australian_state .input input {/*width:91%;*/ /*margin-bottom: 20px;*/}
.hs_error_rollup .hs-main-font-element { font-size: 18px; font-weight: 300; color:#fff;}
.div_contact .hs-error-msgs {display:none!important;}
.hs_error_rollup ul li::before {display: none!important;}
.div_contact_disclaimer {color:#fff; /*text-transform: uppercase;*/ font-size:12px; font-weight:300; padding: 0 20px 20px 20px;}
.div_contact_disclaimer a {color:#fff!important;}
.div_contact_disclaimer a:hover {color:#000!important;}

.calculatorImg {background:#fff; text-align: right; display:none; position: relative; /*top: -90px; margin-bottom: -90px;*/ z-index: 10;}
.calculatorImg-reposition {position: inherit!important;}

.ccalculatorImg  {
	background-image: url('../../images/site/calculator owl.png');
    background-repeat: no-repeat;
	background-position: right bottom;
}

.divYes {width:20%!important; z-index: 20; position: relative; float:right!important;}

.blog-masthead-padding {padding-bottom: 0;;}
.blog-calculator {position:inherit;}

.divRange {width:100%!important; padding-left: 80px!important; padding-right: 30px!important; visibility: hidden; height:0;}
.divRangeLeft {float:left; text-align: left; width:50%; color:#fff; font-weight: 400; font-size: 14px;}
.divRangeRight {float:left; text-align: right; width:50%; color:#fff; font-weight: 400; font-size: 14px;}
.divRangeCentre {width:100%; text-align: center; color:#fff; font-weight: 400; font-size: 14px;}
.divRangeScale {padding-top: 10px;}

.hs_customer_purchase_average .input input, .hs_customer_lifetime .input input, .hs_customer_refer_rate .input input, .hs_customer_referrals .input input, .hs_referral_new_customer .input input {display:none!important; /*background:#c30021; color:#fff; font-weight: 600;*/ /*color: transparent;*/}

._slider__tip {display: none!important;}
.slider__tip {font-size: 18px;top: -43px!important;}
.hs-form-field-active > .slider__tip { top: -43px!important;}

.range_slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;	
    background: #fff!important;
    outline: none;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;	
}
.hs-form-field-active > .divRange, .hs-form-field-answered > .divRange { padding-top: 25px!important; display: block; position:inherit; height:auto;}

.range_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #c30021;
  border:1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
}

.range_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #c30021;
  border:1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
}

.submitted-message {background-color: #c30021 !important; padding: 30px!important; border-radius: 30px; color:#fff; margin-top:30px;}
.submitted-message a {color:#fff!important;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

/**************************
ACCORDION
**************************/
.juiAccordion {padding:30px 0; margin-left: 20px;}
.juiAccordion .div_contact_hdr {display:block; visibility: visible; height: auto; margin-top:0; padding:0;}
.juiAccordion h3 {display:inline-block; padding:0; text-transform: none; font-size: 21px!important; color:#000; font-family: 'Lato', Arial,Verdana,sans-serif!important; font-weight: 300!important;}

.ui-widget {font-family: 'Lato', Arial,Verdana,sans-serif!important; }
.juiAccordion .ui-accordion-header{
    background-color: #fff !important;
    border: none !important;   
    box-shadow: none !important;    
}

.juiAccordion .ui-accordion-header:focus{
    box-shadow: none !important;
    outline: none !important;
}

.juiAccordion .ui-accordion-header{
    background-color: #fff !important;
    border: none !important;    
    box-shadow: none !important;  
	color:#000!important;
}

.juiAccordion .ui-accordion-content{
    border:none !important;
    padding:10px 0 0 10px!important;  
	margin: 0 10px!important;	
	width: 100%;
}

.juiAccordion p, .juiAccordion ul li {font-size: 21px; font-weight: 300;}
.juiAccordion ul li::before {margin-top:5px!important;}

.btnNext {width:100%; text-align: center; padding:10px 0 0 0!important; display:none;}
.btnNext a {color:#fff!important; font-size:20px; font-weight: 600; text-align: center; text-transform: uppercase; text-decoration: none!important; line-height: 30px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);	
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: font-size;
	transition-property: font-size;
}
.btnNext a:hover {font-size:30px; }

.juiAccordion .ui-icon, .ui-widget-content .iconClosed {
	background-image: url('../../images/site/down-arrow.png'); 
	background-size: cover;
	vertical-align: top;
	height: 20px;
	width: 20px;
	margin-top: 0;
	position: relative;
	bottom: 0px;
	margin-left: 10px;
}
.iconOpen {
 -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.juiAccordion .ui-accordion-header:hover > .iconClosed {animation: bouncingArrow 2s infinite ease-in-out;}  

@keyframes bouncingArrow {
    0% {bottom:0px;}
    50% {bottom:-2px;}
    100% {bottom:0px;}
}

.div_contact_hdr {width:100%; clear:both;}
.juiAccordion h3 {float:left; }
.juiAccordion h3 .ui-icon {float:right;}

/**************************
RESPONSIVE
**************************/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.hbspt-form {border-radius:0!important; padding:0px; margin-bottom: 50px;}
	.hbspt-form h2 {text-align: center; font-size:22px!important;}
	.hbspt-form label span {padding-top:0!important; top:-10px;}
	.hbspt-form .field { padding: 20px 20px 3px 20px;}
	.hbspt-form .input  {width:75%; margin-top: 10px!important;}	
	.hbspt-form legend {bottom:0; margin-top: 10px; right: -30px; top:5px;}
	.hs_customer_refer_rate:before {right: 17px; padding-top: 12px;}
	.hs_lead_conversion_rate:before {right: 17px; padding-top: 12px;}
	.div_calculate a { width: 100%; margin: 10px 0; padding: 10px 0;}	
	.hbspt-form label span {font-size:16px;}
	.hs-form-field-active > label span {font-size:17px!important;}
	.hbspt-form label::before {margin-right: 10px;}
	.hs-form-field label {width:100%!important; } 
	.hs_customer_worth label {width:100%!important;}		
	.div_customer_worth h2 span {letter-spacing: 0; font-size:27px!important;}
	.div_customer_worth h2:after {display:none!important; height: 0!important;}
	.hbspt-form .div_customer_worth .field {padding:0!important;}
	.div_calculate a {font-size:20px!important;}
	.hbspt-form .hs_customer_worth input {font-size:20px!important;}
	.hbspt-form .hs_customer_worth .input { width: 100%!important; float: none!important; margin: auto; text-align: center!important; display: inline-block; }
	.hs-form-field-active > .input #product_or_service_offering-e4cdbbe0-8f53-4648-bf14-510e43599715 {margin-top:130px;}
	.div_customer_worth {margin-top:0!important;}
	.div_contact_hdr {margin-top:0;}
	.div_contact_hdr h3 {padding-left:0!important; padding-right: 0!important; font-size:20px!important;}
	.div_contact_txt {margin-top:0;}
	.div_contact_txt p, .div_contact_txt label {margin:0 0 7px 0; text-align: center;}
	.div_contact {width:100%!important; padding:0!important;}
	.div_contact label, .div_contact .input {width:95%!important;}
	.div_contact input, .div_contact select {width:95%!important;}
	.div_contact .hs_australian_state .input select {width:95%!important;}
	.show > .hs-submit .actions .hs-button { display:inline-block; width: 95%; margin: 20px 0;}
	.div_contact_submit .hs-button {padding: 10px 10px; font-size: 14px;}
	.div_contact_submit {margin-bottom:0!important;}
	.calculatorImg {top: -30px; position:relative!important;}
	.calculatorImg img {width:100%; display: block;}	
	.hs_product_or_service_offering label, .hs_product_or_service_offering div {padding-bottom: 50px;}
	.hs_customer_purchase_average label {padding-bottom: 30px;}
	.hs_customer_refer_rate label {padding-bottom: 10px;}
	.hs-form-field-active > .input ul {margin-left:0; padding-left: 0; margin-top: 40px;}
	.hs-form-field-active > .input ul li {padding-left: 0!important;}
	.hs-form-field-active > .input ul li span {top:0!important;}
	.hs_after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc .input ul li {width:100%;}
	
	.divCalculator-h2 {font-size: 17px; padding-left:0; text-align: center;}
	#divCalculatorText h2 {font-size: 22px;} 
	.juiAccordion .ui-accordion-content {padding-left:0; margin:0;}
	.hs-form-field-active > .input ul {width:100%; text-align: left;}
	.divRange {padding-right:0!important;}
	input[name="after_the_initial_purchase_are_there_subsequent_products_or_services_that_a_new_customer_would_purc"]:before {top:-5px;}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.hbspt-form {width:100%;}	
    .calculatorImg img {width:100%;}
	
	.panelSlidersImage {bottom: -90px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
	/* For ipad portrait layouts only */
	.hbspt-form .field {padding:20px!important;}
	.div_customer_worth h2 {font-size:40px;}
	.div_customer_worth h2 span {font-size:50px;}
	.calculatorImg img {width:100%;}
	.div_contact .field {padding: 10px 0 20px 0!important;}
	.div_contact_hdr {margin-top:40px!important;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
    .calculatorImg img {width:100%;}
}
