body {font: 100%/1.4 'Lato', Arial,Verdana,sans-serif; color: #000; font-weight: 300; font-size: 18px;}

h1 {font-family: "Lato",Arial,Verdana,sans-serif; font-size:60px; font-weight: 900; color:#000; line-height: 1; padding: 10px 0; margin:0; }
h1 span {font-family: 'Merriweather:ital', serif; font-size:60px; font-weight: 200; color:#000; font-style: italic; letter-spacing: -3px;}
h1 .span-red {font-family: "Lato",Arial,Verdana,sans-serif; font-weight: 900; color:#9b1318; font-style:normal; font-size:50px;}
b, strong {font-weight: 600;}
.h1-smaller, .h1-smaller span {font-size:50px;}

.panel1 {padding-top: 20px;}
.panel1 .panelLogo img, .panel1 .panelContact img {width:auto;} 
.panel1 .panelContact {position:absolute; right:0; z-index:10;}
.panel1 .panelContact a {padding-left:15px;}
.panel1 img {width:100%;}
.panel1 .shop-img {
	animation-iteration-count: 1;
	animation: fadeIn ease-in 6s;
	-webkit-animation: fadeIn ease-in 6s;
	-moz-animation: fadeIn ease-in 6s;
	-o-animation: fadeIn ease-in 6s;
	-ms-animation: fadeIn ease-in 6s;
}

.panel2-txt {position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.panel2 ul {list-style-type: none; padding:0; }
.panel2 li.tick {background: url('/images/landing/tick.png') no-repeat left center; min-height: 35px; padding: 5px 0 5px 50px; margin: 0 0 10px 0; font-size:16px;}
.panel2 .disclaimer {font-size:12px; font-weight:500;}
.panel2 .link {font-size:16px; font-weight:500;}
.panel2 .link a {text-decoration: none!important; color:#00b7ff;}
.panel2 .link a:hover {color:#c30021;}

.panel3 {text-align:center; padding-top: 20px;}
.panel3 .contact-logo {padding: 10px 0;}
.panel3 .contact-details {font-size:14px; font-weight:500;}
.panel3 .contact-details span {padding:0 10px;}
.panel3 .contact-details a, .panel3 .contact-details a:visited {color:#000; text-decoration: none!important;}
.panel3 .contact-details a:hover {color:#c30021;}
.panel3 .contact-local {font-size:24px; font-weight:500; padding: 10px 0;}

.landingForm-shop {background:#c30021; padding:20px 20px 30px 30px; }
.landingForm-shop h2 {color:#fff; font-size:18px; font-weight:600; font-style: normal;}
.landingForm-shop label {color:#fff; font-size:16px; font-weight:300; margin-top:10px; margin-bottom: 5px; }
.landingForm-shop form fieldset {max-width:100%;}
.landingForm-shop form .input {margin-right:10px!important;}
.landingForm-shop form input {border:none; width:100%!important; font-size: 16px; padding: 5px;}
.landingForm-shop form .actions {padding-top:20px;margin-right:10px;}
.landingForm-shop form .hs-button {text-transform: uppercase; background: #00b7ff; color:#fff; padding: 10px 20px; font-size:20px; font-weight:900; width:100%; letter-spacing: 1px;}
.landingForm-shop form ul {margin-bottom:0;}
.landingForm-shop form .hs-error-msg, .landingForm-shop form .hs-main-font-element {margin:0; font-style: italic; font-size: 14px; font-weight: 600;}
.landingForm-shop .submitted-message {color:#fff;}
	
/**************************
RESPONSIVE
**************************/	
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
	.container {max-width: 95%!important; padding: 0 5px;}
	.panel1 {padding:5px 0;}
	h1, h1 span {font-size:37px!important;} 
	.panel3 .contact-local {font-size: 20px!important; font-weight: 600!important; padding-top: 20px;}
	.panel1 .panelContact a {padding:0 5px;}
	.panel2 .disclaimer {font-size: 11px;}
	.panel3 .contact-details span {display: block; visibility: hidden; height: 0;}
	.panel3 .contact-details {font-size: 13px;}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {		
	.panel1 {text-align:center;}	
	.panel2-txt {padding:40px 0; position:inherit; -webkit-transform: none; -ms-transform: none; transform: none; top:inherit;}
	.panel3 .contact-local {font-size:22px} 	
	.panel2 .disclaimer {text-align: center;}
	.landingForm-shop h2 {text-align: center;}
}
	
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	body {font-size:16px; padding: 5px 0;}
	p {margin-bottom: 5px;}
	h1, h1 span {font-size:50px;}
	.landingForm-shop h2 {font-size:16px; }
	
	.panel1, .panel3 {padding-top:10px;}	
	.contact-logo img {width:70px;}
	.panel3 .contact-local {padding:10px 0;}
}

/**************************
ANIMATIONS
**************************/
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
